<!DOCTYPE html>
<html>
	<head>
		<title>ai arena</title>
		<link rel="shortcut icon" type="image/png" href="<% assets('logo') %>"/>
		<link rel="stylesheet" type="text/css" href="<% assets('bootstrap') %>"/>
		<link rel="stylesheet" type="text/css" href="stylesheet.css"/>
		<script type="text/javascript" src="<% assets('jquery') %>"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>
	<body>
		<% navbar(session); %>
		<div id="container">
			<div id="message">
				<span class="graytext"><% try { data.messages.top } catch(error) { "//welcome to ai arena, human..." } %></span>
				<br>
				<span class="whitetext">human_id</span>
				<span class="redtext"> = </span>
				<span class="whitetext"><% if (session.user !== null) { session.user.name; } else { "<span class='purpletext'>null</span>"; } %>;</span>
			</div>
			<br>
			<div id="signinup">
				<div id="action_select" <% if (session.user !== null) { "style='display: none;'"} %> >
					<span class="whitetext">action</span>
					<span class="redtext"> = </span>
					<select id="actions">
						<option value="signin">signin</option>
						<option value="signup" <% if ((typeof data.action !== "undefined") && (data.action === "signup")) { "selected" } %> >signup</option>
					</select>
					<span class="whitetext">;</span>
					<br>
					<br>
				</div>
				<form id="signin_form" method="post" <% if ((session.user !== null) || ((typeof data.action !== "undefined") && (data.action === "signup"))) { "style='display: none;'"} %> >
					<button id="signin" name="action" value="signin"><span class="greentext">signin</span></button>
					<span class="whitetext">(</span>
					<input type="text" id="signin_username" class="orangetext" name="signin_username" placeholder="username"/>
					<span class="whitetext">,</span>
					<input type="password" id="signin_password" class="orangetext" name="signin_password" placeholder="password"/>
					<span class="whitetext">);</span>
				</form>
				<form id="signup_form" method="post" <% if ((session.user !== null) || (typeof data.action === "undefined") || (data.action !== "signup")) { "style='display: none;'"} %> >
					<button id="signup" name="action" value="signup"><span class="greentext">signup</span></button>
					<span class="whitetext">(</span>
					<input type="text" id="signup_username" class="orangetext" name="signup_username" placeholder="username"/>
					<span class="whitetext">,</span>
					<input type="text" id="signup_email" class="orangetext" name="signup_email" placeholder="email"/>
					<span class="whitetext">,</span>
					<input type="password" id="signup_password" class="orangetext" name="signup_password" placeholder="password"/>
					<span class="whitetext">,</span>
					<input type="password" id="signup_confirm" class="orangetext" name="signup_confirm" placeholder="confirm password"/>
					<span class="whitetext">);</span>
				</form>
				<form id="signout_form" method="post" <% if (session.user === null) { "style='display: none;'"} %> >
					<button id="signout" name="action" value="signout"><span class="greentext">signout</span></button>
					<span class="whitetext">();</span>
				</form>
			</div>
		</div>
	</body>
</html>