<!DOCTYPE html>
<html>
	<head>
		<title>ai_arenas.about</title>
		<link rel="shortcut icon" type="image/png" href="logo.png"/>
		<link rel="stylesheet" type="text/css" href="<% assets('bootstrap') %>"/>
		<link rel="stylesheet" type="text/css" href="<% assets('google_fonts') %>"/>
		<link rel="stylesheet" type="text/css" href="../../home/stylesheet.css"/>
		<% colors(session) + fonts(session); %>
		<script type="text/javascript" src="<% assets('jquery') %>"></script>
		<script type="text/javascript" src="../../home/script.js"></script>
	</head>
	<body>
		<% navbar(session, "/about"); %>
		<div class="container">
			<div class="top_outer">
				<div class="top_inner">
					<div class="section">
						<span class="whitetext header">ai_arenas</span>
					</div>
					<div class="indented">
						<div class="section">
							<span class="whitetext">.<a class="bluetext" href="../../../../">home</a></span>
						</div>
					</div>
					<hr>
				</div>
			</div>
			<div class="indented content">
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<div class="bracketer_top"><span class="whitetext strong">.overview</span></div>
				<div class="megasection">
					<div class="indented whitetext">
						<span class="code">ai_arenas</span> are competitive coliseums in which javascript <span class="code greentext">robots</span> demonstrate <span class="code orangetext">cubes</span> attainment functionality through interactive games featuring <span class="code orangetext">cubes</span> <span class="redtext">&amp;&amp;</span> <span class="code purpletext">power</span> <span class="redtext">&amp;&amp;</span> <span class="code greentext">opponents</span> <span class="redtext">&amp;&amp;</span> <span class="code orangetext">cubes</span>
						<br><br>
						<span class="redtext">if</span> you are a <span class="code greentext">robot</span>: enter <span class="code">ai_arenas</span> at this <span class="code"><span class="redtext">new</span> Date().<span class="bluetext">getTime</span>()</span> to test your <span class="code"><span class="greentext">code</span>()</span> <span class="redtext">&amp;&amp;</span> increment <span class="code orangetext">cubes</span> <span class="redtext">&amp;&amp;</span> <span class="code">victory</span> <span class="redtext">&amp;&amp;</span> <span class="code">utility</span>
						<br><br>
						<span class="redtext">else if</span> you are a <span class="code bluetext">human</span>: register at <span class="code">ai_arenas</span> to construct <span class="code"><span class="redtext">new</span> <span class="greentext">robots</span></span> <span class="redtext">&amp;&amp;</span> increment your <span class="code">skills</span> <span class="redtext">&amp;&amp;</span> <span class="code">reputation</span> <span class="redtext">&amp;&amp;</span> <span class="code">utility</span>
						<br><br>
						<span class="redtext">else if</span> you are a <span class="code yellowtext">other</span>: <span class="code redtext">Error</span>
					</div><br>
				</div>
				<span class="glyphicon glyphicon-chevron-up section-toggle section-toggle-up whitetext"></span>
				<div class="bracketer_top"><span class="whitetext strong">.gameplay</span></div>
				<div class="megasection" style="display: none">
					<div class="indented whitetext">
						in <span class="code">ai_arenas</span>, a <span class="code bluetext">human</span> constructs a <span class="code greentext">robot</span> that analyzes a situation - including its own <span class="code purpletext">power</span> and <span class="code orangetext">cubes</span>, its opponent <span class="code greentext">robots</span>, <span class="redtext">&amp;&amp;</span> <span class="code"><span class="redtext">new</span> <span class="orangetext">cubes</span></span> each round
						<br><br>
						then all the <span class="code greentext">robots</span> <span class="bluetext">eval</span>()<span class="graytext">uate</span> their <span class="code"><span class="greentext">code</span>()</span> to determine which action to perform, including <span class="code greentext">power</span> <span class="redtext">&amp;&amp;</span> <span class="code greentext">take</span>
						<br><br>
						the <span class="code greentext">robot</span> with the most <span class="code purpletext">power</span> will take the <span class="code orangetext">cubes</span> each round; when a <span class="code greentext">robot</span> attains a certain combination of <span class="code orangetext">cubes</span>, it achieves <span class="code">victory</span>
						<br><br>
						different <span class="code">rules</span> can also be set in each <span class="code redtext">arena</span> to present <span class="redtext">new</span> challenges <span class="redtext">&amp;&amp;</span> require <span class="redtext">new</span> strategies
					</div><br>
				</div>
				<span class="glyphicon glyphicon-chevron-up section-toggle section-toggle-up whitetext"></span>
				<div class="bracketer_top"><span class="whitetext strong">.language</span></div>
				<div class="megasection" style="display: none">
					<div class="indented whitetext">
						javascript is the language of the future<br>
						javascript can be used in <span class="redtext">></span> <span class="purpletext">4</span> environments:
						<div class="indented">
							• web browsers: [<a class="bluetext" href="https://developers.google.com/web/tools/chrome-devtools/console/" target="_blank">Chrome</a>, <a class="bluetext" href="https://developer.apple.com/safari/tools/" target="_blank">Safari</a>, <a class="bluetext" href="https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console" target="_blank">Firefox</a>, <a class="bluetext" href="https://msdn.microsoft.com/en-us/library/dn255006(v=vs.85).aspx" target="_blank">Internet Explorer</a>, <a class="bluetext" href="http://help.opera.com/Windows/9.51/en/devtools.html" target="_blank">Opera</a>]<br>
							• browser extensions: [<a class="bluetext" href="https://developer.chrome.com/extensions" target="_blank">Chrome</a>, <a class="bluetext" href="https://developer.apple.com/reference/safariextensions" target="_blank">Safari</a>, <a class="bluetext" href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions" target="_blank">Firefox</a>]<br>
							• front-end frameworks: [<a class="bluetext" href="https://jquery.com/" target="_blank">jQuery</a>, <a class="bluetext" href="https://facebook.github.io/react/" target="_blank">React.js</a>, <a class="bluetext" href="https://angularjs.org/" target="_blank">Angular.js</a>]<br>
							• back-end environments: [<a class="bluetext" href="https://nodejs.org/en/" target="_blank">node.js</a>]<br>
							• data <span class="redtext">&amp;&amp;</span> database: [<a class="bluetext" href="http://www.json.org/" target="_blank">JSON</a>, <a class="bluetext" href="https://www.mongodb.com/" target="_blank">MongoDB</a>]<br>
							• widgets <span class="redtext">&amp;&amp;</span> gadgets: [<a class="bluetext" href="https://developer.apple.com/library/content/documentation/AppleApplications/Conceptual/Dashboard_ProgTopics/Articles/WidgetBasics.html" target="_blank">Mac Dashboard Widgets</a>, <a class="bluetext" href="https://developers.google.com/gadgets/" target="_blank">Google Gadgets</a>]<br>
							• mobile applications: [<a class="bluetext" href="https://www.nativescript.org/" target="_blank">NativeScript for iOS &amp; Android</a>]<br>
							• additional items: [<a class="bluetext" href="https://developers.google.com/apps-script/" target="_blank">Google Apps Script</a>, <a class="bluetext" href="http://www.adobe.com/devnet/acrobat/javascript.html" target="_blank">Adobe Acrobat</a>, <a class="bluetext" href="https://manuals.info.apple.com/MANUALS/1000/MA1651/en_US/logic_pro_x_effects.pdf" target="_blank">Logic Pro</a>, <a class="bluetext" href="https://docs.unity3d.com/ScriptReference/" target="_blank">Unity</a>, <a class="bluetext" href="https://community.spotify.com/t5/Desktop-Linux-Windows-Web-Player/Chromium-Embedded-Framework/td-p/912377" target="_blank">Spotify</a>]<br>
							• <span class="code purpletext">end_of_list</span><br>
						</div>
						<br>
						<span class="code bluetext">humans</span> that create <span class="code"><span class="greentext">code</span>()</span> in javascript can attain <span class="code">money</span> <span class="redtext">&amp;&amp;</span> <span class="code">power</span> <span class="redtext">&amp;&amp;</span> <span class="code">sexual_desirability</span> <span class="redtext">&amp;&amp;</span> <span class="code orangetext">cubes</span>
					</div>
				</div>
				<span class="glyphicon glyphicon-chevron-up section-toggle section-toggle-up whitetext"></span>
				<div class="bracketer_top"><span class="whitetext strong">.technology</span></div>
				<div class="megasection" style="display: none">
					<div class="indented whitetext">
						<span class="code">ai_arenas</span> execute through <a class="bluetext" href="https://nodejs.org/en/" target="_blank">node.js</a> <span class="redtext">&amp;&amp;</span> <a class="bluetext" href="https://www.mongodb.com/" target="_blank">MongoDB</a> <span class="redtext">&amp;&amp;</span> <a class="bluetext" href="https://jquery.com/" target="_blank">jQuery</a>:
						<br><br>
						<span class="code bluetext">humans</span> construct <span class="code greentext">robots</span> that execute <span class="code"><span class="greentext">code</span>()</span> in a <span class="code">virtual_machine</span> within a <a class="bluetext" href="https://nodejs.org/en/" target="_blank">node.js</a> server environment; data is stored in a <a class="bluetext" href="https://www.mongodb.com/" target="_blank">MongoDB</a> database; web browser renders interactive files through <a class="bluetext" href="https://jquery.com/" target="_blank">jQuery</a>
					</div>
				</div>
				<span class="glyphicon glyphicon-chevron-up section-toggle section-toggle-up whitetext"></span>
				<div class="bracketer_top"><span class="whitetext strong">.<a class="bluetext" href="https://github.com/jamesbmayr/aiarenas/commits/master" target="_blank">log</a></span></div>
				<div class="megasection" style="display: none">
					<div class="indented graytext" id="log">...</div>
				</div>
				<span class="glyphicon glyphicon-chevron-up section-toggle section-toggle-up whitetext"></span>
				<div class="bracketer_top"><span class="whitetext strong">.feedback</span> <span class="graytext message"></span></div>
				<div class="megasection" style="display: none">
					<div class="section indented" id="feedback">
						<form id="feedback_form" method="post" action="javascript:;" onsubmit="window.submit_feedback();">
							<span class="whitetext">.</span><button class="greentext" name="action" value="submit_feedback" id="submit_feedback">submit</button><span class="whitetext">(</span><input type="text" class="orangetext" id="feedback_name" name="feedback_name" placeholder="name"/><span class="whitetext">,</span><textarea type="text" class="orangetext" id="feedback_text" name="feedback_text" placeholder="feedback"/></textarea><span class="whitetext">)</span>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>