<!DOCTYPE html>
<html>
	<head>
		<title>ai_arenas.home</title>
		<link rel="shortcut icon" type="image/png" href="logo.png"/>
		<link rel="stylesheet" type="text/css" href="<% assets('bootstrap') %>"/>
		<link rel="stylesheet" type="text/css" href="<% assets('google_fonts') %>"/>
		<link rel="stylesheet" type="text/css" href="../../home/stylesheet.css"/>
		<% colors(session) + fonts(session); %>
		<script type="text/javascript" src="<% assets('jquery') %>"></script>
		<script type="text/javascript" src="../../home/script.js"></script>
	</head>
	<body>
		<% navbar(session); %>
		<div class="container">
			<div class="top_outer">
				<div class="top_inner">
					<div class="section">
						<span class="whitetext header">ai_arenas</span> <span id="message_top" class="graytext"><% try { data.messages.top } catch(error) { "//hello world..." } %></span>
					</div>
					<div class="indented">
						<div class="section">
							<span class="whitetext">.<a class="bluetext" href="../../../../about">about</a>;</span>
						</div>
						<% 
							if (session.human !== null) { 
								"<div class='section'><span class='whitetext'>.human</span><span class='redtext'> = </span><a class='bluetext' href='../../../../humans/" + session.human.name + "'>" + session.human.name + "</a><span class='whitetext'>;</span></div>";
							}
						%>
						<div id="signinup" class="section">
							<div id="action_select" <% if (session.human !== null) { "style='display: none;'"} %> >
								<span class="whitetext">.action</span><span class="redtext"> = </span><select id="actions">
									<option value="signin">signin</option>
									<option value="signup" <% if ((typeof data.action !== "undefined") && (data.action === "signup")) { "selected" } %> >signup</option>
								</select><span class="whitetext">;</span>
							</div>
							<form id="signin_form" method="post" action="javascript:;" onsubmit="window.signin();" <% if (session.human !== null) {"style='display: none;'"} else if ((typeof data.action !== "undefined") && (data.action !== "signin")) { "style='display: none;'"} else {} %> >
								<span class="whitetext">.</span><button id="signin" name="action" value="signin"><span class="greentext">signin</span></button><span class="whitetext">(</span><input type="text" id="signin_name" class="orangetext" name="signin_name" placeholder="name"/><span class="whitetext">,</span><input type="password" id="signin_password" class="orangetext" name="signin_password" placeholder="password"/><span class="whitetext">);</span>
							</form>
							<form id="signup_form" method="post" action="javascript:;" onsubmit="window.signup();" <% if (session.human !== null) {"style='display: none;'";} else if ((typeof data.action !== "undefined") && (data.action === "signup")) {} else {"style='display: none;'";} %> >
								<span class="whitetext">.</span><button id="signup" name="action" value="signup"><span class="greentext">signup</span></button><span class="whitetext">(</span><input type="text" id="signup_name" class="orangetext" name="signup_name" placeholder="name"/><span class="whitetext">,</span><input type="text" id="signup_email" class="orangetext" name="signup_email" placeholder="email"/><span class="whitetext">,</span><input type="password" id="signup_password" class="orangetext" name="signup_password" placeholder="password"/><span class="whitetext">,</span><input type="password" id="signup_confirm" class="orangetext" name="signup_confirm" placeholder="confirm password"/><span class="whitetext">);</span>
							</form>
							<form id="send_form" method="post" action="javascript:;" onsubmit="window.sendReset();" style='display: none;'>
								<span class="whitetext">.</span><button id="sendReset" name="action" value="sendReset"><span class="greentext">forgotPassword</span></button><span class="whitetext">(</span><input type="text" id="sendReset_email" class="orangetext" name="sendReset_email" placeholder="email"/><span class="whitetext">);</span>
							</form>
							<form id="signout_form" method="post" action="javascript:;" onsubmit="window.signout();" <% if (session.human === null) {"style='display: none;'"} else if ((typeof data.action !== "undefined") && (data.action !== "signout")) {"style='display: none;'"} else {} %> >
								<span class="whitetext">.</span><button id="signout" name="action" value="signout"><span class="greentext">signout</span><span class="whitetext">();</span></button>
							</form>
							<form id="verify_form" method="post" action="javascript:;" onsubmit="window.verify();" <% if (session.human === null) {"style='display: none;'"} else if ((typeof data.action !== "undefined") && (data.action === "verify")) {} else {"style='display: none;'"} %> >
								<span class="whitetext">.</span><button id="verify" name="action" value="verify"><span class="greentext">verify</span></button><span class="whitetext">(</span><input type="text" id="verify_email" class="orangetext" name="verify_email" placeholder="email" value="<% if ((typeof data.action !== 'undefined') && (data.action === 'verify')) { data.email || null } %>"/><span class="whitetext">,</span><input type="text" id="verify_key" class="orangetext" name="verify_key" placeholder="key" value="<% if ((typeof data.action !== 'undefined') && (data.action === 'verify')) { data.verification || null } %>"/><span class="whitetext">);</span>
							</form>
							<form id="reset_form" method="post" action="javascript:;" onsubmit="window.verifyReset();" <% if (session.human !== null) {"style='display: none;'"} else if ((typeof data.action !== "undefined") && (data.action === "reset")) {} else {"style='display: none;'"} %> >
								<span class="whitetext">.</span><button id="verifyReset" name="action" value="verifyReset"><span class="greentext">verify</span></button><span class="whitetext">(</span><input type="text" id="reset_email" class="orangetext" name="reset_email" placeholder="email" value="<% if ((typeof data.action !== 'undefined') && (data.action === 'reset')) { data.email || null } %>"/><span class="whitetext">,</span><input type="text" id="reset_key" class="orangetext" name="reset_key" placeholder="key" value="<% if ((typeof data.action !== 'undefined') && (data.action === 'reset')) { data.verification || null } %>"/><span class="whitetext">,</span><input type="password" id="reset_password" class="orangetext" name="reset_password" placeholder="new password"/><span class="whitetext">,</span><input type="password" id="reset_confirm" class="orangetext" name="reset_confirm" placeholder="confirm password"/><span class="whitetext">);</span>
							</form>
							<br>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="indented content">
				<div class="megasection">
					<div class="section">
						<span class="graytext">
							//<span id="status">...</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>