<!DOCTYPE html>
<html>
	<head>
		<title>ai_arenas.home</title>
		<link rel="shortcut icon" type="image/png" href="logo.png"/>
		<link rel="stylesheet" type="text/css" href="<% assets('bootstrap') %>"/>
		<link rel="stylesheet" type="text/css" href="<% assets('google_fonts') %>"/>
		<link rel="stylesheet" type="text/css" href="../../home/stylesheet.css"/>
		<% colors(session) + fonts(session); %>
		<script type="text/javascript" src="<% assets('jquery') %>"></script>
		<script type="text/javascript" src="../../home/script.js"></script>
	</head>
	<body>
		<% navbar(session, "/"); %>
		<div class="container">
			<div class="top_outer">
				<div class="top_inner">
					<div class="section">
						<span class="whitetext header">ai_arenas</span> <span id="message_top" class="graytext"><% try { data.messages.top } catch(error) { "//hello world..." } %></span>
					</div>
					<div class="indented">
						<div id="signinup" class="section">
							<form id="signin_form" method="post" action="javascript:;" onsubmit="window.signin();" <% if (session.human !== null) {"style='display: none;'"} else if ((typeof data.action !== "undefined") && (data.action !== "signin")) { "style='display: none;'"} else if (session.created > new Date().getTime() - 1000) {"style='display: none;'";} else {} %> >
								<span class="whitetext">.</span><button id="signin" name="action" value="signin"><span class="greentext">sign</span></button><span class="select_outer greentext"><select class="sign_action greentext">
									<option value="signin">in</option>
									<option value="signup" <% if ((typeof data.action !== "undefined") && (data.action === "signup")) { "selected" } else if (session.created > new Date().getTime() - 1000) {"selected"} %> >up</option>
								</select></span><span class="whitetext">(</span><input type="text" id="signin_name" class="orangetext" name="signin_name" placeholder="name"/><span class="whitetext">,</span><input type="password" id="signin_password" class="orangetext" name="signin_password" placeholder="password"/><span class="whitetext">)</span>
							</form>
							<form id="signup_form" method="post" action="javascript:;" onsubmit="window.signup();" <% if (session.human !== null) {"style='display: none;'";} else if ((typeof data.action !== "undefined") && (data.action === "signup")) {} else if (session.created > new Date().getTime() - 1000) {} else {"style='display: none;'";} %> >
								<span class="whitetext">.</span><button id="signup" name="action" value="signup"><span class="greentext">sign</span></button><span class="select_outer greentext"><select class="sign_action greentext">
									<option value="signin">in</option>
									<option value="signup" <% if ((typeof data.action !== "undefined") && (data.action === "signup")) { "selected" } else if (session.created > new Date().getTime() - 1000) {"selected"} %> >up</option>
								</select></span><span class="whitetext">(</span><input type="text" id="signup_name" class="orangetext" name="signup_name" placeholder="name"/><span class="whitetext">,</span><input type="text" id="signup_email" class="orangetext" name="signup_email" placeholder="email"/><span class="whitetext">,</span><input type="password" id="signup_password" class="orangetext" name="signup_password" placeholder="password"/><span class="whitetext">,</span><input type="password" id="signup_confirm" class="orangetext" name="signup_confirm" placeholder="confirm password"/><span class="whitetext">)</span>
							</form>
							<form id="send_form" method="post" action="javascript:;" onsubmit="window.sendReset();" style='display: none;'>
								<span class="whitetext">.</span><button id="sendReset" name="action" value="sendReset"><span class="greentext">forgotPassword</span></button><span class="whitetext">(</span><input type="text" id="sendReset_email" class="orangetext" name="sendReset_email" placeholder="email"/><span class="whitetext">)</span>
							</form>
							<form id="signout_form" method="post" action="javascript:;" onsubmit="window.signout();" <% if (session.human === null) {"style='display: none;'"} else if ((typeof data.action !== "undefined") && (data.action !== "signout")) {"style='display: none;'"} else {} %> >
								<span class="whitetext">.</span><button id="signout" name="action" value="signout"><span class="greentext">signout</span><span class="whitetext">()</span></button>
							</form>
							<form id="verify_form" method="post" action="javascript:;" onsubmit="window.verify();" <% if ((typeof data.action !== "undefined") && (data.action === "verify")) {} else {"style='display: none;'"} %> >
								<span class="whitetext">.</span><button id="verify" name="action" value="verify"><span class="greentext">verify</span></button><span class="whitetext">(</span><input type="text" id="verify_email" class="orangetext" name="verify_email" placeholder="email" value="<% if ((typeof data.action !== 'undefined') && (data.action === 'verify')) { data.email || null } %>"/><span class="whitetext">,</span><input type="text" id="verify_key" class="orangetext" name="verify_key" placeholder="key" value="<% if ((typeof data.action !== 'undefined') && (data.action === 'verify')) { data.verification || null } %>"/><span class="whitetext">)</span>
							</form>
							<% 
								if ((typeof data.action !== "undefined") && (data.action === "verify")) {
									"<script>$(document).ready(function() { window.verify(); });</script>";
								}
							%>
							<form id="reset_form" method="post" action="javascript:;" onsubmit="window.verifyReset();" <% if ((typeof data.action !== "undefined") && (data.action === "reset")) {} else {"style='display: none;'"} %> >
								<span class="whitetext">.</span><button id="verifyReset" name="action" value="verifyReset"><span class="greentext">verify</span></button><span class="whitetext">(</span><input type="text" id="reset_email" class="orangetext" name="reset_email" placeholder="email" value="<% if ((typeof data.action !== 'undefined') && (data.action === 'reset')) { data.email || null } %>"/><span class="whitetext">,</span><input type="text" id="reset_key" class="orangetext" name="reset_key" placeholder="key" value="<% if ((typeof data.action !== 'undefined') && (data.action === 'reset')) { data.verification || null } %>"/><span class="whitetext">,</span><input type="password" id="reset_password" class="orangetext" name="reset_password" placeholder="new password"/><span class="whitetext">,</span><input type="password" id="reset_confirm" class="orangetext" name="reset_confirm" placeholder="confirm password"/><span class="whitetext">)</span>
							</form>
						</div>
						<hr>
					</div>
				</div>
			</div>
			<br>
			<div class="indented content">
<pre id="helloBot" class="avatar_pre <% ["red","orange","yellow","green","blue","purple","gray","white"][Math.floor(Math.random() * 8)] %>text" monospace>
<span class="transparenttext leftDot">•</span><span class="transparenttext">•••••</span><span class="avatar avatar_antennae" value=" _H_ "> _H_ </span><span class="transparenttext">•••••</span>
<span class="transparenttext leftDot">•</span><span class="avatar avatar_left_hand" value="(--)">(--)</span><span class="transparenttext">•</span><span class="avatar avatar_eyes" value="/o o\">/o o\</span><span class="transparenttext">•</span><span class="avatar avatar_right_hand transparenttext" value="(--)">(--)</span>
<span class="transparenttext leftDot">•</span><span class="avatar avatar_left_wrist" value=" () "> () </span><span class="transparenttext">•</span><span class="avatar avatar_mouth" value="\\ - /">\ - /</span><span class="transparenttext">•</span><span class="avatar avatar_right_wrist transparenttext" value=" () "> () </span>
<span class="transparenttext leftDot">•</span><span class="transparenttext">••</span><span class="avatar avatar_left_shoulder_up">\</span><span class="avatar avatar_left_shoulder_down" style="display: none">/</span><span class="avatar avatar_left_arm" value="--">--</span><span class="avatar avatar_torso_1" value="HELLO">HELLO</span><span class="avatar avatar_right_arm" value="--">--</span><span class="avatar avatar_right_shoulder_up" style="display: none">/</span><span class="avatar avatar_right_shoulder_down">\</span><span class="transparenttext">••</span>
<span class="transparenttext leftDot">•</span><span class="avatar avatar_left_wrist transparenttext" value=" () "> () </span><span class="transparenttext">•</span><span class="avatar avatar_torso_2" value="HELLO">HELLO</span><span class="transparenttext">•</span><span class="avatar avatar_right_wrist" value=" () "> () </span>
<span class="transparenttext leftDot">•</span><span class="avatar avatar_left_hand transparenttext" value="(--)">(--)</span><span class="transparenttext">•</span><span class="avatar avatar_torso_3" value="HELLO">HELLO</span><span class="transparenttext">•</span><span class="avatar avatar_right_hand" value="(--)">(--)</span>
<span class="transparenttext leftDot">•</span><span class="transparenttext">••••</span><span class="avatar avatar_left_leg" value=" []"> []</span><span class="transparenttext">•</span><span class="avatar avatar_right_leg" value="[] ">[] </span><span class="transparenttext">••••</span>
<span class="transparenttext leftDot">•</span><span class="transparenttext">••••</span><span class="avatar avatar_left_foot" value="/_]">/_]</span><span class="transparenttext">•</span><span class="avatar avatar_right_foot" value="[_\">[_\</span><span class="transparenttext">••••</span>
</pre>
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.suggestions</span><span class="redtext"> = </span><span class="whitetext">[</span> <span class="graytext">//<span class="graytext">HELLO FELLOW HUMAN WHAT SHALL WE DO THIS DAY?</span></div>
				<div class="megasection" id="suggestions"><%
					var suggestions = "";

					//tour
						if (session.human === null) {
							if ((session.show_help !== "true") && ((session.tour === null) || (session.tour.length === 0))) {
								suggestions += '<form method="post" action="javascript:;" onsubmit="window.continueTour();"><li class="section indented"><span class="whitetext">learn about the website: </span><button id="startTour" name="action" value="startTour"><span class="greentext">startTour</span></button><span class="whitetext">()</span></li></form>';
							}
							else if (session.show_help !== "true") {
								suggestions += '<form method="post" action="javascript:;" onsubmit="window.continueTour();"><li class="section indented"><span class="whitetext">turn on help as you visit new pages: </span><button id="startTour" name="action" value="startTour"><span class="greentext">continueTour</span></button><span class="whitetext">()</span></li></form>';
							}
						}
						else {
							if ((session.human.settings.show_help !== "true") && (session.human.tour.length === 0)) {
								suggestions += '<form method="post" action="javascript:;" onsubmit="window.continueTour();"><li class="section indented"><span class="whitetext">learn about the website: </span><button id="startTour" name="action" value="startTour"><span class="greentext">startTour</span></button><span class="whitetext">()</span></li></form>';
							}
							else if ((session.human.settings.show_help !== "true") && (session.human.tour.length < 20)) {
							suggestions += '<form method="post" action="javascript:;" onsubmit="window.continueTour();"><li class="section indented"><span class="whitetext">turn on help as you visit new pages: </span><button id="startTour" name="action" value="startTour"><span class="greentext">continueTour</span></button><span class="whitetext">()</span></li></form>';
							}
						}

					//account & email
						if (session.human === null) {
							suggestions += '<li class="section indented"><span class="whitetext">see what ai_arenas are all <a class="bluetext" href="../../../../about">about</a></span></li>';
						}				
						else if (!session.human.status.verified) {
							suggestions += '<form method="post" action="javascript:;" onsubmit="window.send_verification();"><li class="section indented"><span class="whitetext">ensure your security by verifying your email: </span><button id="send_verification" name="action" value="send_verification"><span class="greentext">verify</span></button><span class="whitetext">(</span><input disabled type="text" id="new_email" class="orangetext" name="new_email" value="' + (session.human.status.new_email || "") + '"><span class="whitetext">)</span></li></form>';
						}
						else if ((session.human.robots.length > 0) && (session.human.tutorials.length > 0)) {
							suggestions += '<li class="section indented"><span class="whitetext">coerce additional humans into joining ai_arenas: <a class="whitetext" href="mailto:?Subject=I BELIEVE ai_arenas IS AN EXCELLENT WEBSITE AND/OR ACTIVITY I RECOMMEND IT TO FELLOW HUMANS&Body=FELLOW HUMANS LET US SPEND OUR LIMITED TIME AND CALORIES EXPERIENCING ENJOYMENT AT http://aiarenas.com END OF MESSAGE" target="_blank"><span class="greentext">send_email</span><span class="whitetext">()</span></a></span></li>';
						}

					//humans
						if (session.human === null) {
							//
						}
						else if ((session.human.information.bio.length < 1) && (session.human.information.sites.length < 1)) {
							suggestions += '<li class="section indented"><span class="whitetext">become a more complete human: add to your <a class="bluetext" href="../../../../humans">profile</a></span></li>';
						}
						else if ((session.human.settings.color_scheme === "default") && (session.human.settings.font_scheme === "default")) {
							suggestions += '<li class="section indented"><span class="whitetext">satisfy human aesthetic requirements; tinker with font and colors in <a class="bluetext" href="../../../../settings">settings</a></span></li>';
						}

					//tutorials
						if (session.human === null) {
							suggestions += '<li class="section indented"><span class="whitetext">get started with a <a class="bluetext" href="../../../../tutorials">tutorial</a></span></li>';
						}
						else if (session.human.tutorials.length < 5) {
							suggestions += '<li class="section indented"><span class="whitetext">learn about basic robots in beginner <a class="bluetext" href="../../../../tutorials">tutorials</a></span></li>';
						}
						else if ((session.human.tutorials.length < 15) || (((session.human.statistics.wins * 5) + session.human.statistics.losses) < 25)) {
							suggestions += '<li class="section indented"><span class="whitetext">learn about more complex robots in <a class="bluetext" href="../../../../tutorials">tutorials</a></span></li>';
						}
						else if ((session.human.tutorials.length < 20) || (((session.human.statistics.wins * 5) + session.human.statistics.losses) < 25)) {
							suggestions += '<li class="section indented"><span class="whitetext">learn about advanced robot actions (sap, halftake, fliptake) in <a class="bluetext" href="../../../../tutorials">tutorials</a></span></li>';
						}
						else {
							suggestions += '<li class="section indented"><span class="whitetext">learn about expert robot actions (shock, burn, swaptake) in <a class="bluetext" href="../../../../tutorials">tutorials</a></span></li>';
						}

					//robots
						if (session.human === null) {
							suggestions += '<li class="section indented"><span class="whitetext">create, download, and upload robots in the <a class="bluetext" href="../../../../robots">workshop</a></span></li>';
						}
						else if (session.human.robots.length === 0) {
							suggestions += '<form method="post" action="javascript:;" onsubmit="window.navbar_create_robot();"><li class="section indented"><span class="whitetext">try coding an arena competitor: </span><button id="create_robot"><span class="greentext">create_robot</span>()</button></li></form>';
						}
						else {
							suggestions += '<li class="section indented"><span class="whitetext">edit your robots in the <a class="bluetext" href="../../../../robots">workshop</a></span></li>';
						}

					//arenas
						if (session.human === null) {
							suggestions += '<form method="post" action="javascript:;" onsubmit="window.navbar_random_arena();"><li class="section indented"><span class="whitetext">compete against random opponents: <button id="navbar_random_arena"><span class="greentext">join</span></button><span class="whitetext">(</span><span class="select_outer orangetext"><select id="navbar_arena_random_presets" class="orangetext"><option value="default">default</option></select></span><span class="whitetext">)</span></span></li></form>';

							suggestions += '<form method="post" action="javascript:;" onsubmit="window.navbar_join_arena();"><li class="section indented"><span class="whitetext">compete against human acquaintances: <button id="navbar_join_arena"><span class="greentext">join</span></button><span class="whitetext">(</span><input type="text" class="navbar_input orangetext" name="navbar_arena_id" id="navbar_arena_id" placeholder="arena id"><span class="whitetext">)</span></span></li></form>'
						}
						else if ((!session.human.status.verified) || (((session.human.statistics.wins * 5) + session.human.statistics.losses) < 25)) {
							suggestions += '<li class="section indented"><span class="whitetext">send your robots into battle in <a class="bluetext" href="../../../../arenas">arenas</a></span></li>';
						}
						else if (((session.human.statistics.wins * 5) + session.human.statistics.losses) < 50) {
							suggestions += '<li class="section indented"><span class="whitetext">send your robots in advanced battles (simple, deathmatch, advanced) in <a class="bluetext" href="../../../../arenas">arenas</a></span></li>';
						}
						else if (((session.human.statistics.wins * 5) + session.human.statistics.losses) >= 50) {
							suggestions += '<li class="section indented"><span class="whitetext">send your robots into expert battles (intense, scarcity, random) in <a class="bluetext" href="../../../../arenas">arenas</a></span></li>';
						}

					suggestions
				%></div>
				<div class="bracketer_bottom"><span class="whitetext">]</span></div>
				<div class="megasection" id="statistics" <% if (!data.statistics) { "style='display:none;'" } %>>
					<span class="glyphicon glyphicon-chevron-up section-toggle section-toggle-up whitetext"></span>
					<div class="bracketer_top"><span class="whitetext">.statistics</span><span class="redtext"> = </span><span class="whitetext">{</span></div>
					<div class="section" style="display:none;">
						<div class="indented" id="humans"><span class="whitetext">humans: {</span>
							<div class="indented" id="human_wins"><span class="whitetext"><span class="yellowtext">"wins"</span>: [</span>
								<div class="indented"><%
									if ((data.statistics) && (data.statistics.humans.wins)) {
										var string = "";
										for (x of data.statistics.humans.wins) {
											string += "<span class='statistic whitetext'>{<a class='bluetext' href='../../../../humans/" + x.name + "' target='_blank'>" + x.name + "</a>: <span class='purpletext'>" +  x.statistics.wins + "</span>}</span>,<br>";
										}
										string.substring(0,string.length - 5);
									}
								%></div>
								<span class="whitetext">],</span>
							</div>
							<div class="indented" id="human_ratios"><span class="whitetext"><span class="yellowtext">"win/loss_ratio"</span>: [</span>
								<div class="indented"><%
									if ((data.statistics) && (data.statistics.humans.ratio)) {
										var string = "";
										for (x of data.statistics.humans.ratio) {
											string += "<span class='statistic whitetext'>{<a class='bluetext' href='../../../../humans/" + x.name + "' target='_blank'>" + x.name + "</a>: <span class='purpletext'>" +  Number(x.ratio).toFixed(2) + "</span>}</span>,<br>";
										}
										string.substring(0,string.length - 5);
									}
								%></div>
								<span class="whitetext">]</span>
							</div>
							<span class="whitetext">},</span>
						</div>
						<div class="indented" id="robots"><span class="whitetext">robots: {</span>
							<div class="indented" id="robot_wins"><span class="whitetext"><span class="yellowtext">"wins"</span>: [</span>
								<div class="indented"><%
									if ((data.statistics) && (data.statistics.robots.wins)) {
										var string = "";
										for (x of data.statistics.robots.wins) {
											string += "<span class='statistic whitetext'>{<a class='bluetext' href='../../../../robots/" + x.id + "' target='_blank'>" + x.name + "</a>: <span class='purpletext'>" +  x.statistics.wins + "</span>}</span>,<br>";
										}
										string.substring(0,string.length - 5);
									}
								%></div>
							<span class="whitetext">],</span>
							</div>
							<div class="indented" id="robot_ratios"><span class="whitetext"><span class="yellowtext">"win/loss_ratio"</span>: [</span>
								<div class="indented"><%
									if ((data.statistics) && (data.statistics.robots.ratio)) {
										var string = "";
										for (x of data.statistics.robots.ratio) {
											string += "<span class='statistic whitetext'>{<a class='bluetext' href='../../../../robots/" + x.id + "' target='_blank'>" + x.name + "</a>: <span class='purpletext'>" +  Number(x.ratio).toFixed(2) + "</span>}</span>,<br>";
										}
										string.substring(0,string.length - 5);
									}
								%></div>
								<span class="whitetext">]</span>
							</div>
							<span class="whitetext">}</span>
						</div>
					</div>
					<div class="bracketer_bottom"><span class="whitetext">}</span></div>
				</div>
			</div>
		</div>
	</body>
</html>