/* * home * */
	li {
		color: var(--white);
	}
	
	.section-toggle {
		top: 44px;
	}

	.sign_action {
		vertical-align: top;
		margin-top: 4px;
	}

	.sign_action:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 var(--green);
	}
