/* * home * */
	li {
		color: var(--white);
	}
	
	.about_page .section-toggle {
		top: calc(var(--font_size) * 44px);
		font-size: calc(((var(--font_size) + 1) / 2) * 20px);
	}

	.sign_action {
		vertical-align: top;
		margin-top: calc(var(--font_size) * 4px);
	}

	#signin {
		height: calc(var(--font_size) * 30px);
		margin-top: calc(var(--font_size) * 4px);
	}

	#signup {
		height: calc(var(--font_size) * 30px);
		margin-top: calc(var(--font_size) * 4px);
	}

	#feedback_text {
		min-height: calc(var(--font_size) * 100px);
		min-width: calc(100vw - (200px / var(--font_size)));
	}

	.top_inner .header {
		margin-left: calc((var(--font_size) - 1) * 120px);
	}
