/* * home * */
	li {
		color: var(--white);
	}
	
	.section-toggle {
		top: calc(var(--font_size) * 44px);
	}

	.sign_action {
		vertical-align: top;
		margin-top: calc(var(--font_size) * 4px);
	}

	#signin {
		height: calc(var(--font_size) * 30px);
		margin-top: calc(var(--font_size) * 4px);
	}

	#signup {
		height: calc(var(--font_size) * 30px);
		margin-top: calc(var(--font_size) * 4px);
	}

	.sign_action:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 var(--green);
	}
