<!DOCTYPE html>
<html>
	<head>
		<title>ai_arenas.<% data.name || "humans" %></title>
		<% assets("meta") %>
		<link rel="shortcut icon" type="image/png" href="logo.png"/>
		<link rel="stylesheet" type="text/css" href="<% assets('bootstrap') %>"/>
		<link rel="stylesheet" type="text/css" href="<% assets('google_fonts') %>"/>
		<link rel="stylesheet" type="text/css" href="../../humans/stylesheet.css"/>
		<% colors(session) + fonts(session); %>
		<script type="text/javascript" src="<% assets('jquery') %>"></script>
		<script type="text/javascript" src="../../humans/script.js"></script>
	</head>
	<body>
		<% navbar(session, "/humans/" + data.name); %>
		<div class="container" value="<% data.id %>">
			<div class="top_outer">
				<div class="top_inner">
					<%
						if (session.human !== null) {
							'<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>\
							<div class="section bracketer_top">';
						}
						else {
							'<div class="section">';
						}
					%>
						<span class="whitetext header" id="name"><% data.name %></span> <span class="graytext" id="message_top"></span>
					</div>
					<div class="indented">
						<%
							if ((session.human !== null) && (session.human.id === data.id)) {
								"<div class='megasection'>\
									<div class='section'>\
										<form method='post' action='javascript:;' onsubmit='window.human_edit();'>\
											<button id='human_edit'><span class='whitetext'>.</span><span class='greentext'>edit</span><span class='whitetext'>()</span></button>\
										</form>\
									</div>\
									<div class='section'>\
										<form method='post' action='javascript:;' onsubmit='window.human_save();'>\
											<button id='human_save' style='display: none'><span class='whitetext'>.</span><span class='greentext'>save</span><span class='whitetext'>()</span></button>\
										</form>\
									</div>\
									<div class='section'>\
										<form method='post' action='javascript:;' onsubmit='window.human_cancel();'>\
											<button id='human_cancel' style='display: none'><span class='whitetext'>.</span><span class='greentext'>cancel</span><span class='whitetext'>()</span></button>\
										</form>\
									</div>\
									<div class='section'>\
										<a id='settings' href='../../../../settings'><span class='whitetext'>.</span><span class='bluetext'>settings</span></a>\
									</div>\
								</div>";
							}
							else if (session.human !== null) {
								if (session.human.favorites.humans[data.id] !== undefined) {
									var add = " style='display: none;'";
									var remove = "";
								}
								else {
									var remove = " style='display: none;'";
									var add = "";
								}

								"<div class='megasection'>\
									<div class='section'>\
										<form id='add_favorite_form' method='post' action='javascript:;' onsubmit='window.add_favorite();'" + add + ">\
											<button id='add_favorite'><span class='whitetext'>.</span><span class='greentext'>addFavorite</span><span class='whitetext'>()</span></button>\
										</form>\
										<form id='remove_favorite_form' method='post' action='javascript:;' onsubmit='window.remove_favorite();'" + remove + ">\
											<button id='remove_favorite'><span class='whitetext'>.</span><span class='greentext'>removeFavorite</span><span class='whitetext'>()</span></button>\
										</form>\
									</div>\
								</div>";
							}
						%>
					</div>
					<hr>
				</div>
			</div>
			<div class="indented content">
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.information</span><span class="redtext"> = </span><span class="whitetext">{</span></div>
				<div class="megasection">
					<% 
						if ((data.settings.show_email === "true") && (data.email !== null)) {
							'<div class="section indented">\
								<span class="whitetext">email: </span><a class="bluetext" id="email" href="mailto:' + data.email + '">' + data.email + '</a><span class="whitetext">,</span>\
							</div>';
						}
					%>
					<div class="section indented">
						<span class="whitetext">joined: </span><span class="purpletext"><% new Date(data.created).toLocaleString(); %></span><span class="whitetext">,</span>
					</div>
					<div class="section indented">
						<span class="whitetext">statistics: {</span><span class="whitetext">wins: </span><span class="purpletext"><% data.statistics.wins || 0 %></span><span class='whitetext'>, </span><span class="whitetext">losses: </span><span class="purpletext"><% data.statistics.losses || 0 %></span><span class="whitetext">},</span>
					</div>
					<div class="section indented">
						<span class="whitetext">sites: </span><span class="whitetext">[</span><span class="field_frame"><span class="field whitetext" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="sites" value="<% data.information.sites.join(', ') || null %>"><% 
								if ((typeof data.information.sites !== "undefined") && (data.information.sites.length > 0)) {
									var string = "";
									for (var i = 0; i < data.information.sites.length; i++) {
										string += "<a class='bluetext' href='" + data.information.sites[i] + "' target='_blank' rel='nofollow'>" + data.information.sites[i] + "</a>, ";
									}
									string.substring(0, string.length - 2) || ""
								} 
						%></span></span><span class="whitetext">],</span> <span class='message graytext'></span>
					</div>
					<div class="section indented">
						<span class="whitetext">bio: <span class='message graytext'></span>
						<div class="indented">
							<div class="field_frame"><span class="field yellowtext" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="bio" value="<% data.information.bio.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || null %>"><% data.information.bio || "" %></span>
							</div>
						</div>
					</div>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">}</span></div>
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.robots</span><span class="redtext"> = </span><span class="whitetext">[</span></div>
				<div class="megasection">
					<div class="section indented whitetext">
						<% 
							if ((session.human !== null) && (session.human.id === data.id)) {
								var robots = "<div class='section'>\
									<form method='post' action='javascript:;' onsubmit='window.create_robot();'>\
										<button id='human_create_robot'><span class='greentext'>create</span><span class='whitetext'>()</span></button>,\
									</form>\
								</div>"
							}
							else {
								var robots = "";
							}

							for (var i = 0; i < data.robots.length; i++) {
								robots += "<a class='robot' id='" + data.robots[i].id + "' href='../../../../robots/" + data.robots[i].id + "'><span class='bluetext'>" + data.robots[i].name + "</span></a>, <br>";
							}

							robots.substring(0, robots.length - 6);
					%>
					</div>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">]</span></div>
			</div>
		</div>
	</body>
</html>