<!DOCTYPE html>
<html>
	<head>
		<title>ai_arenas.settings</title>
		<link rel="shortcut icon" type="image/png" href="logo.png"/>
		<link rel="stylesheet" type="text/css" href="<% assets('bootstrap') %>"/>
		<link rel="stylesheet" type="text/css" href="settings/stylesheet.css"/>
		<% colors(session); %>
		<script type="text/javascript" src="<% assets('jquery') %>"></script>
		<script type="text/javascript" src="settings/script.js"></script>
	</head>
	<body>
		<% navbar(session); %>
		<div class="container" value="<% data.id %>">
			<div class="top_outer">
				<div class="top_inner">
					<div class="section">
						<span class="whitetext header">settings</span> <span class="graytext" id="message_top"></span>
					</div>
					<div class="indented">
						<div class="megasection">
							<div class='section'>
								<a id='exit' href="../../../../users"><span class='whitetext'>.</span><span class='bluetext'>exit</span></a>
							</div>
						</div>
					</div>
					<hr>
				</div>
			</div>
			<div class="content indented">
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<hr>
				<div class="megasection">
					<div class="section">
						<span class="whitetext">.color_scheme</span><span class="redtext"> = </span>
						<select id="color_scheme" class="whitetext">
							<% 
								var options = "";
								var color_schemes = assets("color_schemes");
								for (var i = 0; i < color_schemes.length; i++) {
									options += "<option value='" + color_schemes[i] + "'>" + color_schemes[i] + "</option>";
								}

								options = options.replace("'" + data.settings.color_scheme + "'", "'" + data.settings.color_scheme + "' selected");

								options;
							%>
						</select>
						<span class="whitetext">;</span> <span class='message graytext'></span>
					</div>
					<div class="section">
						<span class="whitetext">.show_email</span><span class="redtext"> = </span>
						<select id="show_email" class="purpletext">
							<option value="true" <% if (data.settings.show_email === "true") {"selected"} %>>true</option>
							<option value="false" <% if (data.settings.show_email === "false") {"selected"} %>>false</option>
						</select>
						<span class="whitetext">;</span> <span class='message graytext'></span>
					</div>
					<div class="section">
						<span class="whitetext">.email_notifications</span><span class="redtext"> = </span>
						<select id="email_notifications" class="purpletext">
							<option value="true" <% if (data.settings.email_notifications === "true") {"selected"} %>>true</option>
							<option value="false" <% if (data.settings.email_notifications === "false") {"selected"} %>>false</option>
						</select>
						<span class="whitetext">;</span> <span class='message graytext'></span>
					</div>
					<div class="section">
						<button id='settings_save'><span class='whitetext'>.</span><span class='greentext'>save</span><span class='whitetext'>();</span></button>
					</div>
				</div>				
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<hr>
				<div class="megasection">
					<div class="section" id="name">
						<span class="whitetext">.name</span><span class="redtext"> = </span><span class="whitetext">{</span> <span class='message graytext'></span>
						<div class="indented">
							<div id="name_current">
								<span class="whitetext"> current: </span><span class="yellowtext" id="current_name"><% data.name %></span><span class="whitetext">,</span>
							</div>
							<div id="name_new">
								<button id="change_name" name="action" value="change_name"><span class="greentext">change</span></button><span class="whitetext">: </span><span class="bluetext">function</span><span class="whitetext">(</span><input type="text" id="new_name" class="orangetext" name="new_name" placeholder="new name"/><span class="whitetext">)</span>
							</div>
						</div>
						<span class="whitetext">}</span>
					</div>
					<div class="section" id="email">
						<span class="whitetext">.email</span><span class="redtext"> = </span><span class="whitetext">{</span> <span class='message graytext'></span>
						<div class="indented">
							<div id="email_current">
								<span class="whitetext"> current: </span><a class="bluetext" id="email" href="mailto:<% data.email %>"><% data.email || "<span class='purpletext'>null</span>" %></a><span class="whitetext">,</span>
							</div>
							<div id="email_new">
								<button id="send_verification" name="action" value="send_verification"><span class="greentext">change</span></button><span class="whitetext">: </span><span class="bluetext">function</span><span class="whitetext">(</span><input type="text" id="new_email" class="orangetext" name="new_email" placeholder="new email"/><span class="whitetext">)</span>
							</div>
							<div id="email_verify" style="display: none">
								<button id="verify_email" name="action" value="verify_email"><span class="greentext">change</span></button><span class="whitetext">: </span><span class="bluetext">function</span><span class="whitetext">(</span><input type="text" id="new_email" class="orangetext" name="new_email" placeholder="new email"/><span class="whitetext">,</span><input type="text" id="verify_key" class="orangetext" name="verify_key" placeholder="key"/><span class="whitetext">)</span>
							</div>
						</div>
						<span class="whitetext">}</span>
					</div>
					<div class="section" id="password">
						<span class="whitetext">.password</span><span class="redtext"> = </span><span class="whitetext">{</span> <span class='message graytext'></span>
						<div class="indented">
							<div id="password_current">
								<span class="whitetext"> current: </span><span class="purpletext">••••••••</span><span class="whitetext">,</span>
							</div>
							<div id="password_new">
								<button id="change_password" name="action" value="change_name"><span class="greentext">change</span></button><span class="whitetext">: </span><span class="bluetext">function</span><span class="whitetext">(</span><input type="password" id="new_password" class="orangetext" name="new_password" placeholder="new password"/><span class="whitetext">,</span><input type="password" id="confirm_password" class="orangetext" name="confirm_password" placeholder="confirm password"/><span class="whitetext">)</span>
							</div>
						</div>
						<span class="whitetext">}</span>
					</div>
				</div>
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<hr>
				<div class="megasection">
					<div class="section" id="sessions">
						<span class="whitetext">.sessions</span><span class="redtext"> = </span><span class="whitetext">[</span> <span class='message graytext'></span>
						<div class="indented">
							<%
								var list = "";
								for (var i = 0; i < data.sessions.length; i++) {
									list += "<div class='session' id='" + data.sessions[i].id + "'><span class='whitetext'>{created: </span><span class='purpletext'>" + new Date(data.sessions[i].created || data.sessions[i].start).toLocaleString() + "</span><span class='whitetext'>, info: </span><span class='yellowtext'>\"" + data.sessions[i]["user-agent"] + "\"</span><span class='whitetext'>}.</span><button class='session_destroy'><span class='greentext'>destroy</span><span class='whitetext'>()</span></button><span class='whitetext'>,</span></div>";
								}

								list;
							%>
						</div>
						<span class="whitetext">]</span>
					</div>
				</div>
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<hr>
				<div class="megasection">
					<div class='section' id="delete">
						<button id='user_delete'><span class='whitetext'>.</span><span class='greentext'>delete</span><span class='whitetext'>();</span></button>
						<button id='user_confirm_delete' style='display: none'><span class='whitetext'>.</span><span class='greentext'>confirm_delete</span><span class='whitetext'>();</span></button> <span class='message graytext'></span>
						<br>
						<button id='user_cancel' style='display: none'><span class='whitetext'>.</span><span class='greentext'>cancel</span><span class='whitetext'>();</span></button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>