<!DOCTYPE html>
<html>
	<head>
		<title>ai_arenas.settings</title>
		<link rel="shortcut icon" type="image/png" href="logo.png"/>
		<link rel="stylesheet" type="text/css" href="<% assets('bootstrap') %>"/>
		<link rel="stylesheet" type="text/css" href="<% assets('google_fonts') %>"/>
		<link rel="stylesheet" type="text/css" href="../../settings/stylesheet.css"/>
		<% colors(session) + fonts(session); %>
		<script type="text/javascript" src="<% assets('jquery') %>"></script>
		<script type="text/javascript" src="../../settings/script.js"></script>
	</head>
	<body>
		<% navbar(session, "/settings"); %>
		<div class="container" value="<% data.id %>">
			<div class="top_outer">
				<div class="top_inner">
					<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
					<div class="section bracketer_top">
						<span class="whitetext header">settings</span> <span class="graytext" id="message_top"></span>
					</div>
					<div class="indented">
						<div class="megasection">
							<div class='section'>
								<a id='exit' href="../../../../"><span class='whitetext'>.</span><span class='bluetext'>exit</span></a>
							</div>
						</div>
					</div>
					<hr>
				</div>
			</div>
			<div class="content indented">
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.preferences</span><span class="redtext"> = </span><span class="whitetext">{</span></div>
				<div class="megasection">
					<div class="section indented">
						<span class="whitetext">font: </span>
						<span class="select_outer whitetext"><select id="font_scheme" class="whitetext">
							<% 
								var options = "";
								var fonts = assets("fonts");
								for (var i = 0; i < fonts.length; i++) {
									options += "<option value=\"" + fonts[i] + "\">" + fonts[i] + "</option>";
								}

								options = options.replace("\"" + data.settings.font_scheme + "\"", "\"" + data.settings.font_scheme + "\" selected");

								options;
							%>
						</select></span>
						<span class="whitetext">,</span> <span class='message graytext'></span>
					</div>
					<div class="section indented">
						<span class="whitetext">colors: </span>
						<span class="select_outer whitetext"><select id="color_scheme" class="whitetext">
							<% 
								var options = "";
								var color_schemes = assets("color_schemes");
								for (var i = 0; i < color_schemes.length; i++) {
									options += "<option value='" + color_schemes[i] + "'>" + color_schemes[i] + "</option>";
								}

								options = options.replace("'" + data.settings.color_scheme + "'", "'" + data.settings.color_scheme + "' selected");

								options;
							%>
						</select></span>
						<span class="whitetext">,</span> <span class='message graytext'></span>
					</div>
					<div class="section indented">
						<span class="whitetext">show_email: </span>
						<span class="select_outer purpletext"><select id="show_email" class="purpletext">
							<option value="true" <% if (data.settings.show_email === "true") {"selected"} %>>true</option>
							<option value="false" <% if (data.settings.show_email === "false") {"selected"} %>>false</option>
						</select></span>
						<span class="whitetext">,</span> <span class='message graytext'></span>
					</div>
					<div class="section indented">
						<span class="whitetext">show_help: </span>
						<span class="select_outer purpletext"><select id="show_help" class="purpletext">
							<option value="true" <% if (data.settings.show_help === "true") {"selected"} %>>true</option>
							<option value="false" <% if (data.settings.show_help === "false") {"selected"} %>>false</option>
						</select></span>
						<span class="whitetext">,</span> <span class='message graytext'></span>
					</div>
					<div class="section indented">
						<form method='post' action='javascript:;' onsubmit='window.settings_save();'>
							<button id='settings_save'><span class='whitetext'></span><span class='greentext'>save</span><span class='whitetext'>: </span><span class='bluetext'>function</span><span class='whitetext'>()</button>
						</form>
					</div>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">}</span></div>
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.name</span><span class="redtext"> = </span><span class="whitetext">{</span> <span class='message graytext'></span></div>
				<div class="megasection">
					<div class="section indented" id="name">
						<div id="name_current">
							<span class="whitetext"> current: </span><span class="yellowtext" id="current_name"><% data.name %></span><span class="whitetext">,</span> <span class='message graytext'></span>
						</div>
						<div id="name_new">
							<form method='post' action='javascript:;' onsubmit='window.change_name();'>
								<button id="change_name" name="action" value="change_name"><span class="greentext">change</span></button><span class="whitetext">: </span><span class="bluetext">function</span><span class="whitetext">(</span><input type="text" id="new_name" class="orangetext" name="new_name" placeholder="new name"/><span class="whitetext">)</span>
							</form>
						</div>
					</div>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">}</span></div>
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.email</span><span class="redtext"> = </span><span class="whitetext">{</span> <span class='message graytext'></span></div>
				<div class="megasection">
					<div class="section indented" id="email">
						<div id="email_current">
							<span class="whitetext"> current: </span><a class="bluetext" id="email" href="mailto:<% data.email %>"><% data.email || "<span class='purpletext'>null</span>" %></a><span class="whitetext">,</span> <span class='message graytext'></span>
						</div>
						<div id="email_new">
							<form method='post' action='javascript:;' onsubmit='window.send_verification();'>
								<button id="send_verification" name="action" value="send_verification"><span class="greentext">change</span></button><span class="whitetext">: </span><span class="bluetext">function</span><span class="whitetext">(</span><input type="text" id="new_email" class="orangetext" name="new_email" placeholder="new email"/><span class="whitetext">)</span>
							</form>
						</div>
					</div>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">}</span></div>
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.password</span><span class="redtext"> = </span><span class="whitetext">{</span> <span class='message graytext'></span></div>
				<div class="megasection">
					<div class="section indented" id="password">
						<div id="password_current">
							<span class="whitetext"> current: </span><span class="purpletext">••••••••</span><span class="whitetext">,</span> <span class='message graytext'></span>
						</div>
						<div id="password_new">
							<form method='post' action='javascript:;' onsubmit='window.change_password();'>
								<button id="change_password" name="action" value="change_password"><span class="greentext">change</span></button><span class="whitetext">: </span><span class="bluetext">function</span><span class="whitetext">(</span><input type="password" id="new_password" class="orangetext" name="new_password" placeholder="new password"/><span class="whitetext">,</span><input type="password" id="confirm_password" class="orangetext" name="confirm_password" placeholder="confirm password"/><span class="whitetext">)</span>
							</form>
						</div>
					</div>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">}</span></div>
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.sessions</span><span class="redtext"> = </span><span class="whitetext">[</span> <span class='message graytext'></span></div>
				<div class="megasection">
					<div class="section indented whitetext" id="sessions">
						<%
							var list = "";
							for (var i = 0; i < data.sessions.length; i++) {
								list += "<div class='session' id='" + data.sessions[i].id + "'><span class='whitetext'>{created: </span><span class='purpletext'>" + new Date(data.sessions[i].created || data.sessions[i].start).toLocaleString() + "</span><span class='whitetext'>, info: </span><span class='yellowtext'>\"" + data.sessions[i]["user-agent"] + "\"</span><span class='whitetext'>}.</span><button class='session_destroy'><span class='greentext'>destroy</span><span class='whitetext'>()</span></button>, </div>";
							}

							list.substring(0,list.length - 8) + "</div>";
						%>
					</div>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">]</span></div>
				<br>
				<div class="megasection">
					<div class='section' id="delete">
						<form method='post' action='javascript:;' onsubmit='window.human_delete();'>
							<button id='human_delete'><span class='whitetext'>.</span><span class='greentext'>delete</span><span class='whitetext'>()</span></button>
						</form>
						<form method='post' action='javascript:;' onsubmit='window.human_confirm_delete();'>
							<button id='human_confirm_delete' style='display: none'><span class='whitetext'>.</span><span class='greentext'>confirm_delete</span><span class='whitetext'>()</span></button> <span class='message graytext'></span>
						</form>
						<form method='post' action='javascript:;' onsubmit='window.human_cancel();'>
							<button id='human_cancel' style='display: none'><span class='whitetext'>.</span><span class='greentext'>cancel</span><span class='whitetext'>()</span></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>