<!DOCTYPE html>
<html>
	<head>
		<title>ai_arenas.tutorials</title>
		<link rel="shortcut icon" type="image/png" href="logo.png"/>
		<link rel="stylesheet" type="text/css" href="<% assets('bootstrap') %>"/>
		<link rel="stylesheet" type="text/css" href="<% assets('google_fonts') %>"/>
		<link rel="stylesheet" type="text/css" href="../../tutorials/stylesheet.css"/>
		<% colors(session) + fonts(session); %>
		<script type="text/javascript" src="<% assets('jquery') %>"></script>
		<script type="text/javascript" src="../../tutorials/script.js"></script>
	</head>
	<body>
		<% navbar(session); %>
		<div class="container">
			<div class="top_outer">
				<div class="top_inner">
					<div class="section">
						<span class="whitetext header">tutorials</span> <span class="graytext" id="message_top"></span>
					</div>
					<div class="indented">
						<div class='section'>
							<a id='exit' href='../../../../'><span class='whitetext'>.</span><span class='bluetext'>exit</span></a>
						</div>
					</div>
					<hr>
				</div>
			</div>
			<div class="indented content"><% 
				if ((session.human === null) || (session.human.tutorials.length < 5)) {

					var content = '<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>\
						<div class="bracketer_top"><span class="whitetext">.list</span><span class="redtext"> = </span><span class="whitetext">[</span> <span class="graytext message">//more tutorials appear as they are unlocked</span></div>\
						<div class="megasection">\
							<div class="section indented whitetext">';
						 
					var string = "";
					if (session.human === null) {
						var tutorials = ["takeBot","checkBot","primaryBot","secondaryBot","responsiveBot"];

						for (var i = 0; i < tutorials.length; i++) {
							string += "{<a class='bluetext' href='../../../../tutorials/" + tutorials[i] + "'>" + tutorials[i] + "</a>},<br>";
						}
					}
					else {
						if (!(session.human.tutorials.indexOf("takeBot") > -1)) {
							var tutorials = ["takeBot"];
						}
						else if (!(session.human.tutorials.indexOf("checkBot") > -1)) {
							var tutorials = ["takeBot","checkBot"];
						}
						else if (!(session.human.tutorials.indexOf("primaryBot") > -1)) {
							var tutorials = ["takeBot","checkBot","primaryBot"];
						}
						else if (!(session.human.tutorials.indexOf("secondaryBot") > -1)) {
							var tutorials = ["takeBot","checkBot","primaryBot","secondaryBot"];
						}
						else {
							var tutorials = ["takeBot","checkBot","primaryBot","secondaryBot","responsiveBot"];
						}

						for (var i = 0; i < tutorials.length; i++) {
							if (session.human.tutorials.indexOf(tutorials[i]) > -1) {
								var status = "true";
							}
							else {
								var status = "false";
							}

							string += "{<a class='bluetext' href='../../../../tutorials/" + tutorials[i] + "'>" + tutorials[i] + "</a><span class='whitetext'>: </span><span class='purpletext'>" + status + "</span>},<br>";
						}
					}

					content += (string.substring(string, string.length - 5) || "");
					content += '</div></div>\
						<div class="bracketer_bottom"><span class="whitetext">]</span></div>';

					content;
				}
				else {
					if (session.human.tutorials.length >= 5) {
						var content = '<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>\
							<div class="bracketer_top"><span class="whitetext">.overview</span><span class="redtext"> = </span><span class="whitetext">[</span></div>\
							<div class="megasection">\
								<div class="section indented whitetext">';

						var string = "";
						var tutorials = ["takeBot","checkBot","primaryBot","secondaryBot","responsiveBot"];
						for (var i = 0; i < tutorials.length; i++) {
							string += "{<a class='bluetext' href='../../../../tutorials/" + tutorials[i] + "'>" + tutorials[i] + "</a><span class='whitetext'>: </span><span class='purpletext'>true</span>},<br>";
						}

						content += (string.substring(string, string.length - 5) || "");
						content += '</div></div>\
							<div class="bracketer_bottom"><span class="whitetext">]</span></div>';
					}

					if (session.human.tutorials.length >= 5) {
						content += '<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>\
						<div class="bracketer_top"><span class="whitetext">.beginner</span><span class="redtext"> = </span><span class="whitetext">[</span></div>\
						<div class="megasection">\
							<div class="section indented whitetext">';

						var string = "";
						var tutorials = ["consoleBot","deriveBot","randomBot","collectorBot","copyBot"];
						for (var i = 0; i < tutorials.length; i++) {
							if (session.human.tutorials.indexOf(tutorials[i]) > -1) {
								var status = "true";
							}
							else {
								var status = "false";
							}

							string += "{<a class='bluetext' href='../../../../tutorials/" + tutorials[i] + "'>" + tutorials[i] + "</a><span class='whitetext'>: </span><span class='purpletext'>" + status + "</span>},<br>";
						}

						content += (string.substring(string, string.length - 5) || "");
						content += '</div></div>\
							<div class="bracketer_bottom"><span class="whitetext">]</span></div>';
					}

					if (session.human.tutorials.length >= 10) {
						content += '<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>\
						<div class="bracketer_top"><span class="whitetext">.intermediate</span><span class="redtext"> = </span><span class="whitetext">[</span></div>\
						<div class="megasection">\
							<div class="section indented whitetext">';

						var string = "";
						var tutorials = ["focusBot","switchBot","predictorBot","scrapsBot","victoryBot"];
						for (var i = 0; i < tutorials.length; i++) {
							if (session.human.tutorials.indexOf(tutorials[i]) > -1) {
								var status = "true";
							}
							else {
								var status = "false";
							}

							string += "{<a class='bluetext' href='../../../../tutorials/" + tutorials[i] + "'>" + tutorials[i] + "</a><span class='whitetext'>: </span><span class='purpletext'>" + status + "</span>},<br>";
						}

						content += (string.substring(string, string.length - 5) || "");
						content += '</div></div>\
							<div class="bracketer_bottom"><span class="whitetext">]</span></div>';
					}
					
					if ((((session.human.statistics.wins * 5) + session.human.statistics.losses) >= 25) && (session.human.tutorials.length >= 15)) {
						content += '<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>\
						<div class="bracketer_top"><span class="whitetext">.advanced</span><span class="redtext"> = </span><span class="whitetext">[</span></div>\
						<div class="megasection">\
							<div class="section indented whitetext">';

						var string = "";
						var tutorials = ["sapBot","halftakeBot","fliptakeBot","???","???"];
						for (var i = 0; i < tutorials.length; i++) {
							if (session.human.tutorials.indexOf(tutorials[i]) > -1) {
								var status = "true";
							}
							else {
								var status = "false";
							}

							string += "{<a class='bluetext' href='../../../../tutorials/" + tutorials[i] + "'>" + tutorials[i] + "</a><span class='whitetext'>: </span><span class='purpletext'>" + status + "</span>},<br>";
						}
								
						content += (string.substring(string, string.length - 5) || "");
						content += '</div></div>\
							<div class="bracketer_bottom"><span class="whitetext">]</span></div>';
					}

					if ((((session.human.statistics.wins * 5) + session.human.statistics.losses) >= 50) && (session.human.tutorials.length >= 20)) {
						content += '<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>\
						<div class="bracketer_top"><span class="whitetext">.expert</span><span class="redtext"> = </span><span class="whitetext">[</span></div>\
						<div class="megasection">\
							<div class="section indented whitetext">';

						var string = "";
						var tutorials = ["shockBot","burnBot","swaptakeBot","???","???"];
						for (var i = 0; i < tutorials.length; i++) {
							if (session.human.tutorials.indexOf(tutorials[i]) > -1) {
								var status = "true";
							}
							else {
								var status = "false";
							}

							string += "{<a class='bluetext' href='../../../../tutorials/" + tutorials[i] + "'>" + tutorials[i] + "</a><span class='whitetext'>: </span><span class='purpletext'>" + status + "</span>},<br>";
						}

						content += (string.substring(string, string.length - 5) || "");
						content += '</div></div>\
							<div class="bracketer_bottom"><span class="whitetext">]</span></div>';
					}

					content;
				}
			%></div>
		</div>
	</body>
</html>