/* * tutorials * */
	.container {
		border-color: var(--yellow);
	}

	.top_inner {
		border-color: var(--yellow);
	}

	/* arena */
		.section .action {
			background-color: var(--transparent);
			margin-top: -6px;
			margin-left: -2px;
			padding: 0px 20px 0px 0px;
			width: calc(var(--font_size) * 100px);
			white-space: nowrap;
			overflow: hidden;
		}

		.stats .select_outer {
			margin: 0px;
			padding: 0px;
		}

		input[type=number] {
			-webkit-appearance: default;
			background-color: var(--transparent);
			float: right;
		}
