/* * page * */
	/* variables */
		:root {
			--red: #F92672;
			--orange: #FD971F;
			--yellow: #FFE792;
			--green: #A6E22E;
			--blue: #66D9EF;
			--purple: #AE81FF;

			--white: #F8F8F2;
			--gray: #75715E;
			--black: #272822;
			--transparent: rgba(000,000,000,0);
			--code: #111111;
			--font_scheme: Courier, monospace;
		}

	/* mobile */
		@media screen and (max-width: 980px) {
			:root {
				--font_size: 2;
			}
		}

	/* desktop */
		@media screen and (min-width: 981px) {
			:root {
				--font_size: 1;
			}
		}

	/* elements */
		body {
			margin: 0;
			padding: 4px;
			background-color: black;
			background-color: var(--black);
			font-family: Courier, monospace;
			font-family: var(--font_scheme);
			color: white;
			color: var(--white);
			font-size: 16px;
			font-size: calc(var(--font_size) * 16px);
			text-shadow: 0px;
		}

		pre {
			line-height: 1.15;
			background-color: var(--transparent);
			font-family: var(--font_scheme);
			width: auto;
			border: 0px;
			margin: 0px;
			font-size: calc(var(--font_size) * 16px);
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			cursor: default;
		}

		a {
			color: var(--white);
			font-weight: bold;
		}

		a:hover {
			color: var(--blue);
			text-decoration: none;
			font-weight: bold;
			text-shadow: 0px 0px 20px var(--white);
			outline: none;
		}

		a:focus {
			color: var(--blue);
			text-decoration: none;
			font-weight: bold;
			text-shadow: 0px 0px 20px var(--white);
			outline: none;
		}

		a:visited {
			text-decoration: none;
			outline: none;
		}

		button {
			border: 0px;
			background-color: var(--transparent);
			padding: 0px;
			margin: 0px;
			outline: none;
			font-weight: bold;
		}

		button:hover {
			font-weight: bold;
			text-shadow: 0px 0px 20px var(--white);
			outline: none;
		}

		button:focus {
			font-weight: bold;
			text-shadow: 0px 0px 20px var(--white);
			outline: none;
		}

		span {
			margin: 0px;
		}

		input[type=text] {
			border: 0px solid var(--white);
			border-radius: 5px;
			text-align: center;
			background-color: var(--code);
			outline: none;
			margin-top: calc(var(--font_size) * 4px);
			height: calc(var(--font_size) * 30px);
		}

		input[type=password] {
			border: 0px solid var(--white);
			border-radius: 5px;
			text-align: center;
			background-color: var(--code);
			outline: none;
			margin-top: calc(var(--font_size) * 4px);
			height: calc(var(--font_size) * 30px);
		}

		label.pseudocheckbox input[type="checkbox"] {
			display: none;
		}

		label.pseudocheckbox span {
			border: 2px solid var(--code);
			border-radius: 5px;
			background-color: var(--code);
			outline: none;
			margin: 0px;
			padding: calc(var(--font_size) * 2px) calc(var(--font_size) * 7px) calc(var(--font_size) * 2px) calc(var(--font_size) * 7px);
			cursor: pointer;
			min-height: calc(var(--font_size) * 30px);
			min-width: calc(var(--font_size) * 30px);
			text-align: center;
			vertical-align: center;
			margin-top: calc(var(--font_size) * 2px);
			font-family: var(--font_scheme);
		}

		label.pseudocheckbox :checked + span {
			border: 2px solid var(--white);
			background-color: var(--white);
			outline: none;
			box-shadow: 0px 0px 5px var(--white);
		}

		label.pseudocheckbox :checked + span:before {
			content: "T";
			font-weight: bold;
			font-family: var(--font_scheme);
			font-size: calc(var(--font_size) * 16px);
			color: var(--purple);
		}

		label.pseudocheckbox span:before  {
			content: "F";
			font-weight: bold;
			font-family: var(--font_scheme);
			font-size: calc(var(--font_size) * 16px);
			color: var(--purple);
		}

		input[type=number] {
			border-radius: 5px;
			background-color: var(--code);
			border: 0px solid var(--white);
			color: var(--purple);
			width: calc(var(--font_size) * 40px);
			border: 0px;
			text-align: right;
			outline: none;
			height: calc(var(--font_size) * 16px);
			margin: 0px;
			padding: 0px;
		}

		input[type=number]:focus {
			outline: none;
		}

		input[type=file] {
			outline:none;
			height: 0px;
			width: 0px;
			opacity: 0;
			cursor: pointer;
			z-index: 0;
			position: absolute;
			top: -1px;
			left: -1px;
		}

		textarea {
			border: 0px solid var(--white);
			border-radius: 5px;
			text-align: center;
			background-color: var(--code);
			outline: none;
			margin-bottom: 2px;
			height: calc(var(--font_size) * 30px);
			min-height: calc(var(--font_size) * 30px);
			min-width: calc(var(--font_size) * 100px);
			padding: 0px;
			vertical-align: bottom;
			padding: 0px calc(var(--font_size) * 2px) 0px calc(var(--font_size) * 2px);
		}

		.select_outer select {
			background-color: var(--code);
			border: 0px solid var(--white);
			border-radius: 5px;
			outline: none;
			cursor: pointer;
			height: calc(var(--font_size) * 30px);
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			padding: 0px calc(var(--font_size) * 20px) 0px calc(var(--font_size) * 5px);
		}

		.select_outer:after {
			content:"▼";
			position: relative;
			right: calc(var(--font_size) * 16px);
			top: 0px;
			font-size: calc(var(--font_size) * 8px);
			pointer-events: none;
			margin-right: calc(var(--font_size) * -8px);
		}

		hr {
			border-color: var(--white);
			margin-top: 0px;
		}

		label {
			border: 0px;
			background-color: var(--transparent);
			padding: 0px;
			margin: 0px;
			outline: none;
			font-weight: normal;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			cursor: pointer;
		}

		label:hover {
			font-weight: bold;
			text-shadow: 0px 0px 20px var(--white);
			outline: none;
		}

		label:focus {
			font-weight: bold;
			text-shadow: 0px 0px 20px var(--white);
			outline: none;
		}

		details {
			display: inline-block;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			vertical-align: top;
		}

		summary:focus {
			outline: none;
		}
		
		summary:active {
			outline: none;
		}
		
		summary {
			cursor: pointer;
			display: list-item;
		}

		details summary span {
			display: none;
		}

		details[open] summary span {
			display: inline-block;
		}

		details[open] ul {
			min-width: calc(100vw - 138px);
		}

		li {
			list-style-position: inside;
		}

	/* noscript */
		noscript div {
			width: 100vw;
			height: 100vh;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #272822;
		}
		
		noscript pre {
			text-align: center; 
			color: #F8F8F2;
			font-family: Courier, monospace;
			font-size: calc(var(--font_size) * 16px);
			position: relative;
			top: 50%; 
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			line-height: 1.15;
		}

	/* components */
		.container {
			width: 100%;
			height: 100%;
			padding: calc(44px / var(--font_size));
			border-radius: 5px;
			line-height: 2;
			border: 2px solid var(--transparent);
			min-height: calc(100vh - 8px);
			overflow-x: hidden;
		}

		.section {
			margin: 0px;
			padding: 0px;
		}

		.section-toggle {
			left: calc(-70px / var(--font_size));
			top: calc(var(--font_size) * 36px);
			font-size: calc(((var(--font_size) + 1) / 2) * 20px);
			cursor: pointer;
		}

		.section-toggle:hover {
			text-shadow: 0px 0px 20px var(--white);
		}

		.bracketer_top {
			cursor: pointer;
		}

		.indented {
			padding-left: calc(38px / var(--font_size));
		}

		.code {
			color: var(--white);
			background-color: var(--code);
			border-radius: 5px;
			padding: 5px;
		}

		.strong {
			font-weight: bold;
			font-size: calc(var(--font_size) * 24px);
		}

		#temp {
			display: none;
			height: 0px;
			width: 0px;
			border: 0px;
			visibility: hidden;
			position: absolute;
			top: -1px;
			left: -1px;
			z-index: -1;
		}

	/* top */
		.top_outer {
			position: fixed;
			top: 0;
			left: 0;
			background-color: var(--black);
			padding: 4px 4px 0px 4px;
			width: 100%;
			z-index: 2;
		}

		.top_inner {
			padding: 44px calc(44px / var(--font_size)) 0px calc(44px / var(--font_size));
			width: 100%;
			border-radius: 5px 5px 0px 0px;
			border: 2px solid var(--transparent);
			border-bottom-width: 0px;
		}

		.top_inner .bracketer_top {
			margin-left: calc((var(--font_size) - 1) * 120px);
		}

		.top_inner .section-toggle {
			margin-left: calc((var(--font_size) - 1) * 120px);
		}

		.top_inner hr {
			border-color: var(--black);
			margin: 10px calc(-25px / var(--font_size) / var(--font_size)) 0px calc(-25px / var(--font_size) / var(--font_size));
			box-shadow: 0px 0px 20px 15px var(--black);
		}

		.top_inner .section-toggle {
			top: calc(((var(--font_size) + 1) / 2) * 18px);
			left: calc(-32px / var(--font_size));
			z-index: 1;
			float: left;
			height: 0px;
			width: 0px;
		}

		.header {
			font-size: calc(((var(--font_size) + 1) / 2) * 48px);
			padding-left: calc((var(--font_size) - 1) * 16px);
			font-weight: bold;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			line-height: 1;
		}

		.content {
			margin-top: 100px;
		}

	/* editing */
		span[contenteditable=true] {
			outline: none;
		}

		a[contenteditable=true] {
			padding: 5px;
			outline: none;
		}

		.field {
			white-space: pre-wrap;
		}


		.field_frame.active {
			padding: 10px;
			border: 0px solid var(--white);
			background-color: var(--code);
			border-radius: 5px;
			width: 100%;
			height: 100%;
			margin-top: 8px;
			line-height: 1.15;
			min-height: calc(((var(--font_size) + 1) / 2) * 38px);
		}

		.bracketer_top .field_frame.active {
			cursor: text;
		}

/* * text * */
	/* colortext */
		.redtext {
			color: var(--red);
		}

		.orangetext {
			color: var(--orange);
		}

		.yellowtext {
			color: var(--yellow);
		}

		.greentext {
			color: var(--green);
		}

		.bluetext {
			color: var(--blue);
		}

		.purpletext {
			color: var(--purple);
		}

		.whitetext {
			color: var(--white);
		}

		.graytext {
			color: var(--gray);
		}

		.blacktext {
			color: var(--black);
		}

		.transparenttext {
			color: var(--transparent);
		}

	/* colorback */
		.redback {
			background-color: var(--red);
		}

		.orangeback {
			background-color: var(--orange);
		}

		.yellowback {
			background-color: var(--yellow);
		}

		.greenback {
			background-color: var(--green);
		}

		.blueback {
			background-color: var(--blue);
		}

		.purpleback {
			background-color: var(--purple);
		}

		.whiteback {
			background-color: var(--white);
		}

		.grayback {
			background-color: var(--gray);
		}

		.blackback {
			background-color: var(--black);
		}

		.transparentback {
			background-color: var(--transparent);
		}

	/* code colors */
		[redtext] {
			color: var(--red);
		}

		[orangetext] {
			color: var(--orange);
		}

		[yellowtext] {
			color: var(--yellow);
		}

		[greentext] {
			color: var(--green);
		}

		[bluetext] {
			color: var(--blue);
		}

		[purpletext] {
			color: var(--purple);
		}

		[whitetext] {
			color: var(--white);
		}

		[graytext] {
			color: var(--gray);
		}

		[blacktext] {
			color: var(--black);
		}

	/* comment colors */
		[graytext] [redtext] {
			color: var(--gray);
		}

		[graytext] [orangetext] {
			color: var(--gray);
		}

		[graytext] [yellowtext] {
			color: var(--gray);
		}

		[graytext] [greentext] {
			color: var(--gray);
		}

		[graytext] [bluetext] {
			color: var(--gray);
		}

		[graytext] [purpletext] {
			color: var(--gray);
		}

		[graytext] [whitetext] {
			color: var(--gray);
		}

		[graytext] [graytext] {
			color: var(--gray);
		}

		[graytext] [blacktext] {
			color: var(--gray);
		}

	/* firefox select caret */
		select:-moz-focusring {
			color: transparent;
		}

		select.whitetext:-moz-focusring {
			text-shadow: 0 0 0 var(--white);
		}

		select.graytext:-moz-focusring {
			text-shadow: 0 0 0 var(--gray);
		}

		select.blacktext:-moz-focusring {
			text-shadow: 0 0 0 var(--black);
		}

		select.codetext:-moz-focusring {
			text-shadow: 0 0 0 var(--code);
		}

		select.transparenttext:-moz-focusring {
			text-shadow: 0 0 0 var(--transparent);
		}

		select.redtext:-moz-focusring {
			text-shadow: 0 0 0 var(--red);
		}

		select.orangetext:-moz-focusring {
			text-shadow: 0 0 0 var(--orange);
		}

		select.yellowtext:-moz-focusring {
			text-shadow: 0 0 0 var(--yellow);
		}

		select.greentext:-moz-focusring {
			text-shadow: 0 0 0 var(--green);
		}

		select.bluetext:-moz-focusring {
			text-shadow: 0 0 0 var(--blue);
		}

		select.purpletext:-moz-focusring {
			text-shadow: 0 0 0 var(--purple);
		}

/* * navbar * */
	#navbar {
		z-index: 3;
		position: fixed;
		top: 0px;
		left: calc(var(--font_size) * -256px);
		height: 100vh;
		width: calc(var(--font_size) * 256px);
		background-color: var(--black);
		color: var(--white);
		font-size: calc(var(--font_size) * 16px);
		padding: 16px;
		border: solid var(--white);
		border-width: 0px 2px 0px 0px;
		overflow-x: hidden;
		overflow-y: scroll;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		cursor: default;
	}

	/* toggles */
		#navbar_open {
			z-index: 3;
			position: fixed;
			top: 0px;
			left: 0px;
			height: calc((var(--font_size) - 0.5) * 2 * 40px);
			width: calc((var(--font_size) - 0.5) * 2 * 40px);
			font-size: calc((var(--font_size) - 0.5) * 2 * 25px);
			padding: 0px;
			background-color: var(--black);
			color: var(--white);
			border: solid var(--white);
			border-width: 2px 2px 2px 0px;
			border-radius: 0px 10px 10px 0px;
			outline: none;
		}

		#navbar_close {
			z-index: 3;
			position: fixed;
			top: 0px;
			left: 0px;
			height: calc((var(--font_size) - 0.5) * 2 * 40px);
			width: calc((var(--font_size) - 0.5) * 2 * 40px);
			font-size: calc((var(--font_size) - 0.5) * 2 * 25px);
			padding: 0px;
			background-color: var(--black);
			color: var(--white);
			border: solid var(--white);
			border-width: 2px 2px 2px 0px;
			border-radius: 0px 10px 10px 0px;
			outline: none;
			display: none;
		}

		#navbar_open .glyphicon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}

		#navbar_close .glyphicon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}

	/* logo */
		#navbar_logo {
			width: 100%;
			text-align: center;
			margin-top: -16px;
			color: var(--white);
		}

		#navbar_logo:hover {
			color: var(--white);
		}

		.super_header {
			font-size: calc(((var(--font_size) + 0.5) / 1.5) * 144px);
			margin-bottom: calc(((var(--font_size) + 1) / 2) * -24px);
			line-height: 1;
		}

	/* items */
		.navbar_item {
			display: block;
		}

		.navbar_heading {
			font-weight: bold;
		}

		.navbar_button {
			display: inline-block;
			text-align: left;
			border: 0px;
			padding: 0px;
			margin-left: 16px;
			margin-bottom: 2px;
			background-color: var(--transparent);
			outline: none;
		}

		.navbar_link {
			display: inline-block;
			text-align: left;
			padding: 0px;
			margin-left: 16px;
			margin-bottom: 2px;
			outline: none;
		}

		.navbar_input {
			display: inline-block;
			width: calc(var(--font_size) * 100px);
			border: 2px solid var(--white);
			border-radius: 5px;
			margin: 2px;
			text-align: center;
			background-color: var(--black);
			outline: none;
		}

		#navbar select {
			border: 0px;
			height: calc(var(--font_size) * 24px);
			background-color: var(--transparent);
		}

		#navbar .select_outer {
			margin: 0px -5px 0px -5px;
		}

/* * tour * */
	#splash_screen {
		z-index: 4;
		width: 100vw;
		height: 100vh;
		background-color: var(--black);
		color: var(--white);
		position: fixed;
		top: 0;
		left: 0;
		margin: 0px;
		padding: 0px;
	}

	#splash_screen pre {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	.touring {
		overflow: hidden;
		pointer-events: none;
	}

	.overlay_outer {
		background-color: rgba(0,0,0,0);
		border-radius: 100%;
		position: absolute;
		box-shadow: 0px 0px 0px calc(100vh + 100vw) rgba(000,000,000,0.8);
		text-shadow: 0px 0px 20px rgba(000,000,000,0.8);
		width: calc(var(--font_size) * 100px);
		height: calc(var(--font_size) * 100px);
		z-index: 100;
		top: calc(-100vh + -100vw);
		left: calc(-100vh + -100vw);
	}

	.overlay_outer form {
		display: inline-block;
	}

	.overlay_circle {
		border-radius: 100%;
		position: relative;
		width: calc(var(--font_size) * 100px);
		height: calc(var(--font_size) * 100px); 
		box-shadow: 0px 0px 50px #ffffff;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	.overlay_inner {
		float: left;
		position: relative;
		top: 50%;
		padding: 5px 5px 5px calc(15px + (var(--font_size) * 100px));
		transform: translateY(-50%);
		width: calc(var(--font_size) * 400px);
		height: calc(var(--font_size) * 100px);
		border: 2px solid #ffffff;
		border-radius: calc(var(--font_size) * 50px) 10px 10px calc(var(--font_size) * 50px);
		color: var(--white);
		overflow: hidden;
		pointer-events: auto;
	}

/* * arena * */
	/* workshop */
		#code_outer {
			line-height: 1.15;
		}

		#code {
			user-select: auto;
			-webkit-user-select: auto;
			-moz-user-select: auto;
			-o-user-select: none;
			cursor: auto;
		}

		#console {
			line-height: 1;
		}

		.live_line {
			background-color: var(--code);
			border-radius: 5px;
			padding: 0px 4px 0px 4px;
			margin: 0px -4px 0px -4px;
		}

		.content hr {
			 margin-left: calc(-40px / var(--font_size));
		}

	/* robot cards */
		.self {
			width: calc(var(--font_size) * 350px);
			height: calc(var(--font_size) * 186px);
			border: 2px solid var(--white);
			border-radius: 5px;
			padding: 10px 10px 0px 10px;
			display: inline-block;
			margin: 5px;
			line-height: 1.15;
		}

		.self pre {
			width: calc(var(--font_size) * 155px);
			height: calc(var(--font_size) * 172px);
			text-align: center;
			overflow: hidden;
			float: left;
			padding: 0px;
		}

		.opponent {
			width: calc(var(--font_size) * 350px);
			height: calc(var(--font_size) * 186px);
			border: 2px solid var(--gray);
			border-radius: 5px;
			padding: 10px 10px 0px 10px;
			display: inline-block;
			margin: 5px;
			line-height: 1.15;
		}

		.opponent pre {
			width: calc(var(--font_size) * 155px);
			height: calc(var(--font_size) * 172px);
			text-align: center;
			overflow: hidden;
			float: left;
			padding: 0px;
		}

		.stats {
			float: left;
			width: calc(var(--font_size) * 171px);
			height: calc(var(--font_size) * 172px);
		}

		.avatar_name {
			float: left;
			text-align: center;
			width: 100%;
		}

	/* cubes */
		.cube_outer {
			width: calc(var(--font_size) * 80px);
			height: calc(var(--font_size) * 80px);
			border: 2px solid var(--white);
			border-radius: 5px;
			text-align: center;
			display: inline-block;
			margin: 5px;
			color: var(--black);
		}

		.cube_inner {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			color: var(--black);
			font-weight: bold;
		}
