<!DOCTYPE html>
<html>
	<head>
		<title>ai arena: <% data.name || null %></title>
		<link rel="shortcut icon" type="image/png" href="<% assets('logo') %>"/>
		<link rel="stylesheet" type="text/css" href="<% assets('bootstrap') %>"/>
		<link rel="stylesheet" type="text/css" href="stylesheet.css"/>
		<script type="text/javascript" src="<% assets('jquery') %>"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>
	<body>
		<% navbar(session); %>
		<% if (session.user.id === data.id) { var edit = "<button class='edit_button'><span class='graytext'>//edit</span></button>"; } else { var edit = ""; } %>
		<div id="container" id="<% data.id %>">
			<div class="section">
				<span class="whitetext"><span class="field" id="name" value="<% data.name %>"><% data.name %></span></span>
				<span class="redtext"> = </span>
				<span class="whitetext">{</span>
				<% edit %>
			</div>
			<div class="indented">
				<div class="section">
					<span class="whitetext">email:</span>
					<span class="yellowtext">"<a class="field" id="email" class="yellowtext" href="mailto:<% data.email %>" value="<% data.email %>"><% data.email %></a>"</span>
					<span class="whitetext">,</span>
					<% edit %>
				</div>
				<div class="section">
					<span class="whitetext">joined:</span>
					<span class="purpletext"><% new Date(data.created).toLocaleString(); %></span>
					<span class="whitetext">,</span>
				</div>
				<div class="section">
					<span class="whitetext">bio:</span>
					<span class="yellowtext">"<span class="field" id="bio" value="<% data.information.bio || null %>"><% data.information.bio || null %></span>"</span>
					<span class="whitetext">,</span>
					<% edit %>
				</div>
				<div class="section">
					<span class="whitetext">statistics: {</span>
					<div class="indented statistic">
						<span class="whitetext">wins: </span>
						<span class="purpletext"><% Object.keys(data.statistics.wins).length || 0 %></span>
						<span class="whitetext">,</span>
					</div>
					<div class="indented statistic">
						<span class="whitetext">losses: </span>
						<span class="purpletext"><% Object.keys(data.statistics.losses).length || 0 %></span>
						<span class="whitetext">,</span>
					</div>
					<span class="whitetext">},</span>
				</div>
				<div class="section">
					<span class="whitetext">robots: [</span>
					<br>
					<%
						for (var i = 0; i < data.robots.length; i++) {
							"<a class='indented robot' id='" + data.robots[i].id + "' href='../../../../robots/" + data.robots[i].id + "'>\
								<span class='bluetext'>" + data.robots[i].name + "</span>\
							</a>\
							<span class='whitetext'>,</span><br>";
						}
					%>
					<span class="whitetext">]</span>
				</div>
			</div>
			<span class="whitetext">}</span>
		</div>
		
	</body>
</html>