<!DOCTYPE html>
<html>
	<head>
		<title>ai arena: <% data.name || null %></title>
		<link rel="shortcut icon" type="image/png" href="<% assets('logo') %>"/>
		<link rel="stylesheet" type="text/css" href="<% assets('bootstrap') %>"/>
		<link rel="stylesheet" type="text/css" href="stylesheet.css"/>
		<script type="text/javascript" src="<% assets('jquery') %>"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>
	<body>
		<% navbar(session); %>
		<%
			if (session.user.id === data.id) {
				var message = "<span class='message graytext'></span>";
			}
			else {
				var message = "";
			}
		%>
		<div id="container" id="<% data.id %>">
			<div class="section">
				<span class="whitetext"><span class="field" id="name" value="<% data.name %>"><% data.name %></span></span><% message %>
			</div>
			<div class="indented">
				<%
					if (session.user.id === data.id) {
						"<div class='section'>\
							<button class='edit_button'><span class='whitetext'>.</span><span class='greentext'>edit</span><span class='whitetext'>();</span></button>\
							<button class='save_button' style='display: none'><span class='whitetext'>.</span><span class='greentext'>save</span><span class='whitetext'>();</span></button>\
							<br><button class='cancel_button' style='display: none'><span class='whitetext'>.</span><span class='greentext'>cancel</span><span class='whitetext'>();</span></button>\
						</div>";
					}
				%>
				<div class="section">
					<span class="whitetext">.email</span><span class="redtext"> = </span><a class="bluetext field" id="email" href="mailto:<% data.email %>" value="<% data.email %>"><% data.email %></a>
					<span class="whitetext">;</span><% message %>
				</div>
				<div class="section">
					<span class="whitetext">.joined</span><span class="redtext"> = </span><span class="purpletext"><% new Date(data.created).toLocaleString(); %></span>
					<span class="whitetext">;</span>
				</div>
				<div class="section">
					<span class="whitetext">.bio</span><span class="redtext"> = </span><span class="field yellowtext" id="bio" value="<% data.information.bio || null %>"><% data.information.bio || null %></span>
					<span class="whitetext">;</span><% message %>
				</div>
				<div class="section">
					<span class="whitetext">.statistics</span><span class="redtext"> = </span><span class="whitetext">{</span>
					<div class="indented">
						<span class="whitetext">wins: </span><span class="purpletext"><% Object.keys(data.statistics.wins).length || 0 %></span>
						<span class='whitetext'>,</span><br>
						<span class="whitetext">losses: </span><span class="purpletext"><% Object.keys(data.statistics.losses).length || 0 %></span>
					</div>
					<span class="whitetext">};</span>
				</div>
				<div class="section">
					<span class="whitetext">.robots</span><span class="redtext"> = </span><span class="whitetext">[</span>
					<div class="indented">
						<% 
							var robots = "";
							for (var i = 0; i < data.robots.length; i++) {
								robots += "<a class='robot' id='" + data.robots[i].id + "' href='../../../../robots/" + data.robots[i].id + "'>\
									<span class='bluetext'>" + data.robots[i].name + "</span>\
								</a>\
								<span class='whitetext'>,</span><br>";
							}

							robots;
						%>
					</div>
					<span class="whitetext">];</span>
				</div>
			</div>
		</div>
	</body>
</html>