/* * users * */
	.container {
		border-color: var(--blue);
	}

	.top_inner {
		border-color: var(--blue);
	}

	#bio {
		user-select: auto;
		-webkit-user-select: auto;
		-moz-user-select: auto;
		cursor: auto;
	}