<!DOCTYPE html>
<html>
	<head>
		<title>ai arena: <% data.name || null %></title>
		<link rel="shortcut icon" type="image/png" href="<% assets('logo') %>"/>
		<link rel="stylesheet" type="text/css" href="<% assets('bootstrap') %>"/>
		<link rel="stylesheet" type="text/css" href="stylesheet.css"/>
		<script type="text/javascript" src="<% assets('jquery') %>"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>
	<body>
		<% navbar(session); %>
		<pre><% JSON.stringify(data, null, 2) || null %></pre>
	</body>
</html>