<!DOCTYPE html>
<html>
	<head>
		<title>ai_arenas.<% data.name || "robots" %></title>
		<link rel="shortcut icon" type="image/png" href="logo.png"/>
		<link rel="stylesheet" type="text/css" href="<% assets('bootstrap') %>"/>
		<link rel="stylesheet" type="text/css" href="<% assets('google_fonts') %>"/>
		<link rel="stylesheet" type="text/css" href="../../robots/stylesheet.css"/>
		<% colors(session) + fonts(session); %>
		<script type="text/javascript" src="<% assets('jquery') %>"></script>
		<script type="text/javascript" src="../../robots/script.js"></script>
	</head>
	<body>
		<% navbar(session, "/robots/" + data.name); %>
		<div class="container" value="<% data.id %>">
			<div class="top_outer">
				<div class="top_inner">
					<%
						if ((session.human !== null) && (session.human.id === data.human.id)) {
							'<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>\
							<div class="section bracketer_top">';
						}
						else {
							'<div class="section">';
						}
					%>
						<span class="field_frame" id="name_frame"><span class="field whitetext header" spellcheck="false" id="name" value="<% data.name %>"><% data.name %></span></span> <span class="graytext" id="message_top"></span> <span class='message graytext'></span>
					</div>
					<div class="indented">
						<%
							if ((session.human !== null) && (session.human.id === data.human.id)) {
								"<div class='megasection'><div class='section'>\
									<form method='post' action='javascript:;' onsubmit='window.robot_edit();'>\
										<button id='robot_edit'><span class='whitetext'>.</span><span class='greentext'>edit</span><span class='whitetext'>()</span></button>\
									</form>\
								</div>\
								<div class='section'>\
									<form method='post' action='javascript:;' onsubmit='window.robot_save();'>\
										<button id='robot_save' style='display: none'><span class='whitetext'>.</span><span class='greentext'>save</span><span class='whitetext'>()</span></button>\
									</form>\
								</div>\
								<div class='section'>\
									<form method='post' action='javascript:;' onsubmit='window.robot_confirm_delete();'>\
										<button id='robot_confirm_delete' style='display: none'><span class='whitetext'>.</span><span class='greentext'>confirm_delete</span><span class='whitetext'>()</span></button>\
									</form>\
								</div>\
								<div class='section'>\
									<form method='post' action='javascript:;' onsubmit='window.robot_cancel();'>\
										<button id='robot_cancel' style='display: none'><span class='whitetext'>.</span><span class='greentext'>cancel</span><span class='whitetext'>()</span></button>\
									</form>\
								</div>\
								<div class='section'>\
									<form method='post' action='javascript:;' onsubmit='window.robot_delete();'>\
										<button id='robot_delete' style='display: none'><span class='whitetext'>.</span><span class='greentext'>delete</span><span class='whitetext'>()</span></button>\
									</form>\
								</div></div>";
							}
						%>
					</div>
					<hr>
				</div>
			</div>
			<div class="content indented">
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.information</span><span class="redtext"> = </span><span class="whitetext">{</span></div>
				<div class="megasection">
					<div class="section indented">
						<span class="whitetext">human: </span><a class="bluetext" id="human" href="../../../../humans/<% data.human.name %>"><% data.human.name %></a>
						<span class="whitetext">,</span>
					</div>
					<div class="section indented">
						<span class="whitetext">created: </span><span class="purpletext"><% new Date(data.created).toLocaleString(); %></span>
						<span class="whitetext">,</span>
					</div>
					<div class="section indented">
						<span class="whitetext">statistics: </span><span class="whitetext">{</span>
							<span class="whitetext">wins: </span><span class="purpletext"><% data.statistics.wins || 0 %></span><span class='whitetext'>,</span>
							<span class="whitetext">losses: </span><span class="purpletext"><% data.statistics.losses || 0 %></span>
						<span class="whitetext">},</span>
					</div>
					<%
						/* if ((session.human !== null) && (session.human.id === data.human.id)) {
							if (data.information.show_code === "true") {
								var show_code_true = " selected";
								var show_code_false = "";
							}
							else if (data.information.show_code === "false") {
								var show_code_true = "";
								var show_code_false = " selected";
							}

							'<div class="section indented" id="robot_settings" style="display: none">\
								<span class="whitetext">showCode: </span>\
								<span class="select_outer purpletext"><select id="show_code" class="purpletext">\
									<option value="true"' + show_code_true + '>true</option>\
									<option value="false"' + show_code_false + '>false</option>\
								</select></span>\
								<span class="whitetext">,</span> <span class="message graytext"></span>\
							</div>';
						} */
					%>
					<div class="section indented">
						<span class="whitetext">bio: </span> <span class='message graytext'></span>
						<div class="indented">
							<div class="field_frame"><span class="field yellowtext" spellcheck="false" id="bio" value="<% data.information.bio.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || null %>"><% data.information.bio || null %></span></div>
						</div>
					</div>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">}</span></div>
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.avatar</span><span class="redtext"> = </span><span class="whitetext">{</span> <span class='message graytext'></span></div>
				<div class="megasection">
					<div class="section indented" id="avatar">
<pre id="avatar_pre" monospace style="color: <% data.avatar.color || 'var(--white)' %>">
<span class="transparenttext">••••••</span><span class="avatar" id="avatar_antennae" value="<% data.avatar.antennae.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '•••••' %>"><% data.avatar.antennae || "•••••" %></span><span class="transparenttext">•••••</span>
<span class="transparenttext">•</span><span class="avatar" id="avatar_left_hand" value="<% data.avatar.left_hand.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '••••' %>"><% data.avatar.left_hand || "••••" %></span><span class="transparenttext">•</span><span class="avatar" id="avatar_eyes" value="<% data.avatar.eyes.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '•••••' %>"><% data.avatar.eyes || "•••••" %></span><span class="transparenttext">•••••</span>
<span class="transparenttext">•</span><span class="avatar" id="avatar_left_wrist" value="<% data.avatar.left_wrist.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '••••' %>"><% data.avatar.left_wrist || "••••" %></span><span class="transparenttext">•</span><span class="avatar" id="avatar_mouth" value="<% data.avatar.mouth.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '•••••' %>"><% data.avatar.mouth || "•••••" %></span><span class="transparenttext">•••••</span>
<span class="transparenttext">•••</span><span class="avatar" id="avatar_left_shoulder_up">\</span><span class="avatar" id="avatar_left_arm" value="<% data.avatar.left_arm.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '••' %>"><% data.avatar.left_arm || "••" %></span><span class="avatar" id="avatar_torso_1" value="<% data.avatar.torso_1.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '•••••' %>"><% data.avatar.torso_1 || "•••••" %></span><span class="avatar" id="avatar_right_arm" value="<% data.avatar.right_arm.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '••' %>"><% data.avatar.right_arm || "••" %></span><span class="avatar" id="avatar_right_shoulder_down">\</span><span class="transparenttext">••</span>
<span class="transparenttext">••••••</span><span class="avatar" id="avatar_torso_2" value="<% data.avatar.torso_2.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '•••••' %>"><% data.avatar.torso_2 || "•••••" %></span><span class="transparenttext">•</span><span class="avatar" id="avatar_right_wrist" value="<% data.avatar.right_wrist.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '••' %>"><% data.avatar.right_wrist || "••" %></span>
<span class="transparenttext">••••••</span><span class="avatar" id="avatar_torso_3" value="<% data.avatar.torso_3.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '•••••' %>"><% data.avatar.torso_3 || "•••••" %></span><span class="transparenttext">•</span><span class="avatar" id="avatar_right_hand" value="<% data.avatar.right_hand.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '••••' %>"><% data.avatar.right_hand || "••••" %></span>
<span class="transparenttext">•••••</span><span class="avatar" id="avatar_left_leg" value="<% data.avatar.left_leg.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '•••' %>"><% data.avatar.left_leg || "•••" %></span><span class="transparenttext">•</span><span class="avatar" id="avatar_right_leg" value="<% data.avatar.right_leg.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '•••' %>"><% data.avatar.right_leg || "•••" %></span><span class="transparenttext">••••</span>
<span class="transparenttext">•••••</span><span class="avatar" id="avatar_left_foot" value="<% data.avatar.left_foot.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '•••' %>"><% data.avatar.left_foot || "•••" %></span><span class="transparenttext">•</span><span class="avatar" id="avatar_right_foot" value="<% data.avatar.right_foot.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\\/g,"\\\\").replace(/\</g,"&lt;").replace(/\>/g,"&gt;") || '•••' %>"><% data.avatar.right_foot || "•••" %></span><span class="transparenttext">••••</span>
</pre>
						<% 
							if ((session.human !== null) && (session.human.id === data.human.id)) {
								var display = '<div id="avatar_selection" style="color:' + (data.avatar.color || 'var(--white)') + '">\
									<span class="transparenttext">••••••</span><select id="select_antennae" class="avatar_select">';
										
											var options = ascii_robot("antennae");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}
										
									display += '</select><span class="transparenttext">•••••</span>\
									<br>\
									<span class="transparenttext">•</span><select id="select_left_hand" class="avatar_select">';
										
											var options = ascii_robot("hand");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}

									display += '</select><span class="transparenttext">•</span><select id="select_eyes" class="avatar_select">';
											
											var options = ascii_robot("eyes");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}
										
									display += '</select><span class="transparenttext">•••••</span>\
									<br>\
									<span class="transparenttext">•</span><select id="select_left_wrist" class="avatar_select">';

											var options = ascii_robot("wrist");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}
											
									display += '</select><span class="transparenttext">•</span><select id="select_mouth" class="avatar_select">';

											var options = ascii_robot("mouth");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}

									display += '</select><span class="transparenttext">•••••</span>\
									<br>\
									<span class="transparenttext">•••</span><span>\\</span><select id="select_left_arm" class="avatar_select">';

											var options = ascii_robot("arm");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}
									
									display += '</select><select id="select_torso_1" class="avatar_select">';

											var options = ascii_robot("torso");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}

									display += '</select><select id="select_right_arm" class="avatar_select">';

											var options = ascii_robot("arm");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}

									display += '</select><span>\\</span><span class="transparenttext">••</span>\
									<br>\
									<span class="transparenttext">••••••</span><select id="select_torso_2" class="avatar_select">';

											var options = ascii_robot("torso");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}

									display += '</select><span class="transparenttext">•</span><select id="select_right_wrist" class="avatar_select">';

											var options = ascii_robot("wrist");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}

									display += '</select>\
									<br>\
									<span class="transparenttext">••••••</span><select id="select_torso_3" class="avatar_select">';

											var options = ascii_robot("torso");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}

									display += '</select><span class="transparenttext">•</span><select id="select_right_hand" class="avatar_select">';

											var options = ascii_robot("hand");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}
									
									display += '</select>\
									<br>\
									<span class="transparenttext">•••••</span><select id="select_left_leg" class="avatar_select">';

											var options = ascii_robot("left_leg");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}
									
									display += '</select><span class="transparenttext">•</span><select id="select_right_leg" class="avatar_select">';

											var options = ascii_robot("right_leg");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}
									
									display += '</select><span class="transparenttext">••••</span>\
									<br>\
									<span class="transparenttext">•••••</span><select id="select_left_foot" class="avatar_select">';

											var options = ascii_robot("foot");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}

									display += '</select><span class="transparenttext">•</span><select id="select_right_foot" class="avatar_select">';

											var options = ascii_robot("foot");
											for (var i = 0; i < options.length; i++) {
												display += "<option value='" + options[i] + "'>" + options[i] + "</option>";
											}

									display += '</select><span class="transparenttext">••••</span>\
								</div>';

								display || "";
							}
						%>
					</div>
					<% 
						if ((session.human !== null) && (session.human.id === data.human.id)) {
							var display = '<div class="section indented" id="avatar_color" style="display: none; color: ' + (data.avatar.color || 'var(--white)') + '">\
								<br>\
								<span class="whitetext">color: </span><span class="select_outer" style="color: ' + (data.avatar.color || 'var(--white)') + '"><select>\
									<option value="var(--white)">white</option>\
									<option value="var(--red)">red</option>\
									<option value="var(--orange)">orange</option>\
									<option value="var(--yellow)">yellow</option>\
									<option value="var(--green)">green</option>\
									<option value="var(--blue)">blue</option>\
									<option value="var(--purple)">purple</option>\
									<option value="var(--gray)">gray</option>\
								</select></span>\
							</div>';

							display = display.replace('"' + data.avatar.color + '"', '"' + data.avatar.color + '"' + " selected");

							display;
						}
					%>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">}</span></div>
				<% 
					//if (((typeof data.information.show_code !== "undefined") && (data.information.show_code === "true")) || (session.human !== null) && (data.human.id === session.human.id)) { 
					//	var code = data.code || " /* no code */ ";
					//	var inputs = data.inputs || "";
					//} 
					//else {
					//	var code = " /* hidden */ ";
					//	var inputs = "";
					//}
				%>
				<%
					var code = data.code || " /* no code */ ";
					var inputs = data.inputs || "";
				%>
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.</span><span class="greentext">code</span><span class="redtext"> = </span><span class="bluetext">function</span><span class="whitetext">(</span><span class="field_frame"><span class="orangetext field" spellcheck="false" id="inputs" value='<% inputs.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || null %>'><% inputs %></span></span><span class="whitetext">) {</span> <span class='message graytext'></span><span class="graytext"> // <details class="graytext"><summary><span>inputs:</span></summary><span><ul><%
					if ((session.human !== null) && (session.human.tutorials.indexOf("deriveBot") !== -1)) {
						var inputList = '<li><span class="code orangetext">arena</span>: all information</li>\
						<li><span class="code orangetext">name</span>: name of this robot <details><summary></summary><span class="code">arguments.callee.name</span></details></li>\
						<li><span class="code orangetext">rules</span>: arena parameters <details><summary></summary><span class="code">arena.rules</span></details></li>\
						<li><span class="code orangetext">rounds</span>: all previous rounds <details><summary></summary><span class="code">arena.rounds</span></details></li>\
						<li><span class="code orangetext">roundCount</span>: number of rounds <details><summary></summary><span class="code">arena.rounds.length - 1</span></details></li>\
						<li><span class="code orangetext">currentRound</span>: all data of the round that just executed <details><summary></summary><span class="code">arena.rounds[arena.rounds.length - 1]</span></details></li>\
						<li><span class="code orangetext">lastRound</span>: all data of the previous round <details><summary></summary><span class="code">arena.rounds[arena.rounds.length - 2]</span></details></li>\
						<li><span class="code orangetext">firstRound</span>: all data from the starting round <details><summary></summary><span class="code">arena.rounds[0]</span></details></li>\
						<li><span class="code orangetext">robots</span>: currentRound data of all robots <details><summary></summary><span class="code">arena.rounds[arena.rounds.length - 1].robots</span></details></li>\
						<li><span class="code orangetext">robotCount</span>: number of robots in the arena <details><summary></summary><span class="code">arena.rounds[arena.rounds.length - 1].robots.length</span></details></li>\
						<li><span class="code orangetext">allCubes</span>: all cubes in the currentRound <details><summary></summary><span class="code">arena.rounds[arena.rounds.length - 1].cubes</span></details></li>\
						<li><span class="code orangetext">newCubes</span>: all cubes spawned for the currentRound <details><summary></summary><span class="code">arena.rounds[arena.rounds.length - 1].cubes.slice(-arena.rules.cubes.spawnRate)</span></details></li>\
						<li><span class="code orangetext">self</span>: currentRound data of the robot executing this code <details><summary></summary><span class="code">name = arguments.callee.name; arena.rounds[arena.rounds.length - 1].robots.find(function(robot) {return robot.name === name})</span></details></li>\
						<li><span class="code orangetext">power</span>: power of self in the currentRound <details><summary></summary><span class="code">name = arguments.callee.name; arena.rounds[arena.rounds.length - 1].robots.find(function(robot) {return robot.name === name}).power</span></details></li>\
						<li><span class="code orangetext">cubes</span>: cubes owned by self in the currentRound <details><summary></summary><span class="code">name = arguments.callee.name; arena.rounds[arena.rounds.length - 1].robots.find(function(robot) {return robot.name === name}).cubes</span></details></li>\
						<li><span class="code orangetext">action</span>: action performed by self in the currentRound <details><summary></summary><span class="code">name = arguments.callee.name; arena.rounds[arena.rounds.length - 1].robots.find(function(robot) {return robot.name === name}).action</span></details></li>\
						<li><span class="code orangetext">winner</span>: name of robot that won the currentRound <details><summary></summary><span class="code">arena.rounds[arena.rounds.length - 1].winner</span></details></li>\
						<li><span class="code orangetext">opponents</span>: currentRound data of all robots except self <details><summary></summary><span class="code">name = arguments.callee.name; arena.rounds[arena.rounds.length - 1].robots.filter(function(robot) {return robot.name !== name})</span></details></li>\
						<li><span class="code orangetext">colors</span>: list of cube colors <details><summary></summary><span class="code">arena.rules.cubes.colors</span></details></li>\
						<li><span class="code orangetext">actions</span>: list of robot actions <details><summary></summary><span class="code">arena.rules.robots.actions</span></details></li>\
						<li><span class="code orangetext">conditions</span>: list of victory conditions <details><summary></summary><span class="code">arena.rules.victory.conditions</span></details></li>';
					}
					else {
						var inputList = '<li><span class="code orangetext">arena</span>: all information</li>\
						<li><span class="code orangetext">name</span>: name of this robot</li>\
						<li><span class="code orangetext">rules</span>: arena parameters</li>\
						<li><span class="code orangetext">rounds</span>: all previous rounds</li>\
						<li><span class="code orangetext">roundCount</span>: number of rounds</li>\
						<li><span class="code orangetext">currentRound</span>: all data of the round that just executed</li>\
						<li><span class="code orangetext">lastRound</span>: all data of the previous round</li>\
						<li><span class="code orangetext">firstRound</span>: all data from the starting round</li>\
						<li><span class="code orangetext">robots</span>: currentRound data of all robots</li>\
						<li><span class="code orangetext">robotCount</span>: number of robots in the arena</li>\
						<li><span class="code orangetext">allCubes</span>: all cubes in the currentRound</li>\
						<li><span class="code orangetext">newCubes</span>: all cubes spawned for the currentRound</li>\
						<li><span class="code orangetext">self</span>: currentRound data of the robot executing this code</li>\
						<li><span class="code orangetext">power</span>: power of self in the currentRound</li>\
						<li><span class="code orangetext">cubes</span>: cubes owned by self in the currentRound</li>\
						<li><span class="code orangetext">action</span>: action performed by self in the currentRound</li>\
						<li><span class="code orangetext">winner</span>: name of robot that won the currentRound</li>\
						<li><span class="code orangetext">opponents</span>: currentRound data of all robots except self</li>\
						<li><span class="code orangetext">colors</span>: list of cube colors</li>\
						<li><span class="code orangetext">actions</span>: list of robot actions</li>\
						<li><span class="code orangetext">conditions</span>: list of victory conditions</li>';
					}
					inputList;
				%></ul></span></details></span></div>
				<div class="megasection">
					<div class="section indented">						
						<div class="field_frame" id="code_outer">
							<span class="whitetext field" spellcheck="false" id="code" value='<% code.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || null %>'><% code %></span>
						</div>
					</div>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">}</span><span class="graytext"> // <details class="graytext"><summary><span>outputs:</span></summary><ul><%
					var outputList = '<li><span class="code greentext">power</span>: increment the robot\'s power number</li>\
						<li><span class="code greentext">take</span>: the taker with the most power wins the round\'s cubes</li>\
						<li><span class="code greentext">sleep</span>: do nothing; this is the default for code errors or taking without power</li>';
					if ((session.human !== null) && (session.human.email !== null) && (((session.human.statistics.wins * 5) + session.human.statistics.losses) >= 25)) {
						outputList += '<li><span class="code greentext">sap</span>: steal power from charging opponents with greater power</li>\
						<li><span class="code greentext">halftake</span>: use half power, rounding up, to take cubes</li>\
						<li><span class="code greentext">fliptake</span>: take the cubes but invert the colors</li>';
					}
					if ((session.human !== null) && (session.human.email !== null) && (((session.human.statistics.wins * 5) + session.human.statistics.losses) >= 50)) {
						outputList += '<li><span class="code greentext">burn</span>: convert a random cube into power</li>\
						<li><span class="code greentext">shock</span>: use half power to put opponents with more total cubes to sleep</li>\
						<li><span class="code greentext">swaptake</span>: use half power to take cubes and return the same number of cubes, randomly</li>';
					}
					outputList;
				%></ul></details></span></div>
			</div>
		</div>
	</body>
</html>