<!DOCTYPE html>
<html>
	<head>
		<title>ai_arenas.robots</title>
		<% assets("meta") %>
		<link rel="shortcut icon" type="image/png" href="logo.png"/>
		<link rel="stylesheet" type="text/css" href="<% assets('bootstrap') %>"/>
		<link rel="stylesheet" type="text/css" href="<% assets('google_fonts') %>"/>
		<link rel="stylesheet" type="text/css" href="../../robots/stylesheet.css"/>
		<% colors(session) + fonts(session); %>
		<script type="text/javascript" src="<% assets('jquery') %>"></script>
		<script type="text/javascript" src="../../robots/script.js"></script>
	</head>
	<body>
		<% navbar(session, "/robots"); %>
		<div class="container" value="">
			<div class="top_outer">
				<div class="top_inner">
					<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span><div class="section bracketer_top"><span class="whitetext header">robots</span> <span class="graytext" id="message_top"></span>
					</div>
					<div class="indented">
						<div class="section">
							<form id="load_form" method="post" action="javascript:;" onsubmit="window.load_robot();">
								<span class="whitetext">.</span><button id="load_robot" name="action" value="load_robot"><span class="greentext">load</span></button><span class="whitetext">(</span><span class="select_outer orangetext"><select id="robot_select" class="orangetext">
									<% 
										if (session.human !== null) {
											var robots = session.human.robots || [];
											robots.push({"id": "new", "name": "new"});
											robots.push({"id": "upload", "name": "upload"});
										}
										else {
											var robots =[{"id": "new", "name": "new"},{"id": "upload", "name": "upload"}];
										}
										
										var options = "";
										for (var i = 0; i < robots.length; i++) {
											options += "<option value='" + robots[i].id + "'>" + robots[i].name + "</option>";
										}
										options;
									%>
								</select></span><span class="whitetext">)</span>
							</form>
						</div>
						<%
							if (session.human !== null) {
								"<div class='section'>\
									<form method='post' action='javascript:;' onsubmit='window.robot_save();'>\
										<button id='workshop_save' style='display: none'><span class='whitetext'>.</span><span class='greentext'>save</span><span class='whitetext'>()</span></button>\
									</form>\
								</div>";
							}
						%>
						<div class="section">
							<form method='post' action='javascript:;' onsubmit='window.robot_download();'>
								<button id='workshop_download' style='display: none'><span class='whitetext'>.</span><span class='greentext'>download</span><span class='whitetext'>()</span></button>
							</form>
						</div>
						<div class="section">
							<input type="file" name="file_chooser" id="file_chooser"/>
						</div>
					</div>
					<hr>
				</div>
			</div>
			<div class="indented content" style="display: none">			
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.</span><span class="greentext robot_name"></span><span class="redtext"> = </span><span class="bluetext">function</span><span class="whitetext">(</span><span class="field_frame active"><span class="orangetext field" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="inputs" value='' contenteditable=true></span></span><span class="whitetext">) {</span> <span class='message graytext'></span><span class="graytext"> // <details class="graytext"><summary><span>inputs:</span></summary><span><ul><%
					if ((session.human !== null) && (session.human.tutorials.indexOf("deriveBot") !== -1)) {
						var inputList = '<li><span class="code orangetext">arena</span>: all information</li>\
						<li><span class="code orangetext">name</span>: name of this robot <details><summary></summary><span class="code">arguments.callee.name</span></details></li>\
						<li><span class="code orangetext">rules</span>: arena parameters <details><summary></summary><span class="code">arena.rules</span></details></li>\
						<li><span class="code orangetext">rounds</span>: all previous rounds <details><summary></summary><span class="code">arena.rounds</span></details></li>\
						<li><span class="code orangetext">roundCount</span>: number of rounds <details><summary></summary><span class="code">arena.rounds.length - 1</span></details></li>\
						<li><span class="code orangetext">currentRound</span>: all data of the round that just executed <details><summary></summary><span class="code">arena.rounds[arena.rounds.length - 1]</span></details></li>\
						<li><span class="code orangetext">lastRound</span>: all data of the previous round <details><summary></summary><span class="code">arena.rounds[arena.rounds.length - 2]</span></details></li>\
						<li><span class="code orangetext">firstRound</span>: all data from the starting round <details><summary></summary><span class="code">arena.rounds[0]</span></details></li>\
						<li><span class="code orangetext">robots</span>: currentRound data of all robots <details><summary></summary><span class="code">arena.rounds[arena.rounds.length - 1].robots</span></details></li>\
						<li><span class="code orangetext">robotCount</span>: number of robots in the arena <details><summary></summary><span class="code">arena.rounds[arena.rounds.length - 1].robots.length</span></details></li>\
						<li><span class="code orangetext">allCubes</span>: all cubes in the currentRound <details><summary></summary><span class="code">arena.rounds[arena.rounds.length - 1].cubes</span></details></li>\
						<li><span class="code orangetext">newCubes</span>: all cubes spawned for the currentRound <details><summary></summary><span class="code">arena.rounds[arena.rounds.length - 1].cubes.slice(-arena.rules.cubes.spawnRate)</span></details></li>\
						<li><span class="code orangetext">self</span>: currentRound data of the robot executing this code <details><summary></summary><span class="code">name = arguments.callee.name; arena.rounds[arena.rounds.length - 1].robots.find(function(robot) {return robot.name === name})</span></details></li>\
						<li><span class="code orangetext">power</span>: power of self in the currentRound <details><summary></summary><span class="code">name = arguments.callee.name; arena.rounds[arena.rounds.length - 1].robots.find(function(robot) {return robot.name === name}).power</span></details></li>\
						<li><span class="code orangetext">cubes</span>: cubes owned by self in the currentRound <details><summary></summary><span class="code">name = arguments.callee.name; arena.rounds[arena.rounds.length - 1].robots.find(function(robot) {return robot.name === name}).cubes</span></details></li>\
						<li><span class="code orangetext">action</span>: action performed by self in the currentRound <details><summary></summary><span class="code">name = arguments.callee.name; arena.rounds[arena.rounds.length - 1].robots.find(function(robot) {return robot.name === name}).action</span></details></li>\
						<li><span class="code orangetext">winner</span>: name of robot that won the currentRound <details><summary></summary><span class="code">arena.rounds[arena.rounds.length - 1].winner</span></details></li>\
						<li><span class="code orangetext">opponents</span>: currentRound data of all robots except self <details><summary></summary><span class="code">name = arguments.callee.name; arena.rounds[arena.rounds.length - 1].robots.filter(function(robot) {return robot.name !== name})</span></details></li>\
						<li><span class="code orangetext">colors</span>: list of cube colors <details><summary></summary><span class="code">arena.rules.cubes.colors</span></details></li>\
						<li><span class="code orangetext">actions</span>: list of robot actions <details><summary></summary><span class="code">arena.rules.robots.actions</span></details></li>\
						<li><span class="code orangetext">conditions</span>: list of victory conditions <details><summary></summary><span class="code">arena.rules.victory.conditions</span></details></li>';
					}
					else {
						var inputList = '<li><span class="code orangetext">arena</span>: all information</li>\
						<li><span class="code orangetext">name</span>: name of this robot</li>\
						<li><span class="code orangetext">rules</span>: arena parameters</li>\
						<li><span class="code orangetext">rounds</span>: all previous rounds</li>\
						<li><span class="code orangetext">roundCount</span>: number of rounds</li>\
						<li><span class="code orangetext">currentRound</span>: all data of the round that just executed</li>\
						<li><span class="code orangetext">lastRound</span>: all data of the previous round</li>\
						<li><span class="code orangetext">firstRound</span>: all data from the starting round</li>\
						<li><span class="code orangetext">robots</span>: currentRound data of all robots</li>\
						<li><span class="code orangetext">robotCount</span>: number of robots in the arena</li>\
						<li><span class="code orangetext">allCubes</span>: all cubes in the currentRound</li>\
						<li><span class="code orangetext">newCubes</span>: all cubes spawned for the currentRound</li>\
						<li><span class="code orangetext">self</span>: currentRound data of the robot executing this code</li>\
						<li><span class="code orangetext">power</span>: power of self in the currentRound</li>\
						<li><span class="code orangetext">cubes</span>: cubes owned by self in the currentRound</li>\
						<li><span class="code orangetext">action</span>: action performed by self in the currentRound</li>\
						<li><span class="code orangetext">winner</span>: name of robot that won the currentRound</li>\
						<li><span class="code orangetext">opponents</span>: currentRound data of all robots except self</li>\
						<li><span class="code orangetext">colors</span>: list of cube colors</li>\
						<li><span class="code orangetext">actions</span>: list of robot actions</li>\
						<li><span class="code orangetext">conditions</span>: list of victory conditions</li>';
					}
					inputList;
				%></ul></span></details></span></div>
				<div class="megasection">
					<div class="indented">
						<div class="field_frame active" id="code_outer">
							<span class="whitetext field" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="code" value='' contenteditable=true></span>
						</div>
					</div>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">}</span></div>
				<div class="section">
					<form method="post" action="javascript:;" onsubmit="window.eval_code();">
						<button class="whitetext" id="eval_code" name="action" value="eval_code">.<span class="bluetext">eval</span>(<span class="greentext robot_name"></span>)</button><span class="redtext"> = </span><span class="yellowtext"><span id="output"></span></span><span class="graytext"> // <details class="graytext"><summary><span>outputs:</span></summary><ul><%
							var outputList = '<li><span class="code greentext">power</span>: increment the robot\'s power number</li>\
								<li><span class="code greentext">take</span>: the taker with the most power wins the round\'s cubes</li>\
								<li><span class="code greentext">sleep</span>: do nothing; this is the default for code errors or taking without power</li>';
							if ((session.human !== null) && (session.human.email !== null) && (((session.human.statistics.wins * 5) + session.human.statistics.losses) >= 25)) {
								outputList += '<li><span class="code greentext">sap</span>: steal power from charging opponents with greater power</li>\
								<li><span class="code greentext">halftake</span>: use half power, rounding up, to take cubes</li>\
								<li><span class="code greentext">fliptake</span>: take the cubes but invert the colors</li>';
							}
							if ((session.human !== null) && (session.human.email !== null) && (((session.human.statistics.wins * 5) + session.human.statistics.losses) >= 50)) {
								outputList += '<li><span class="code greentext">burn</span>: convert a random cube into power</li>\
								<li><span class="code greentext">shock</span>: use half power to put opponents with more total cubes to sleep</li>\
								<li><span class="code greentext">swaptake</span>: use half power to take cubes and return the same number of cubes, randomly</li>';
							}
							outputList;
						%></ul></details></span>
					</form>
				</div>
				<details class="graytext" open><summary>//console</summary><div id="console"></div></details>
				<br><br><br><hr>
				<span class="glyphicon glyphicon-chevron-up section-toggle section-toggle-up whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.robots<span class="redtext"> = </span><span class="whitetext">{</span> <span class="graytext">//simulate arena with adjustable robots</span></div>
				<div class="megasection" style="display: none">
					<div class="section indented" id="robots">
						<div class="section self">
							<div class="avatar_name"></div>
							<div class="stats">
								<span class="whitetext">power:</span><input type="number" min="0" max="255" class="purpletext power" value="0"><span class="whitetext"></span><br>
								<div class="whitetext">
									cubes.<span class="redtext">red</span>:<input type="number" min="0" max="255" class="cubes_red" value="0"><br>
									cubes.<span class="orangetext">orange</span>:<input type="number" min="0" max="255" class="cubes_orange" value="0"><br>
									cubes.<span class="yellowtext">yellow</span>:<input type="number" min="0" max="255" class="cubes_yellow" value="0"><br>
									cubes.<span class="greentext">green</span>:<input type="number" min="0" max="255" class="cubes_green" value="0"><br>
									cubes.<span class="bluetext">blue</span>:<input type="number" min="0" max="255" class="cubes_blue" value="0"><br>
									cubes.<span class="purpletext">purple</span>:<input type="number" min="0" max="255" class="cubes_purple" value="0">
								</div>
								<span class="whitetext">action:</span><span class="select_outer yellowtext"><select class="yellowtext action"><%
									var options = "";
									var values = ["power","take","sleep","sap","burn","shock","halftake","swaptake","fliptake"];
									
									for (var i = 0; i < values.length; i++) {
										options += "<option value='" + values[i] + "'>" + values[i] + "</option>";										
									}

									options || "";
								%></select></span>
							</div>
							<pre class="avatar_pre" monospace></pre>
						</div>
						<span id="opponents"></span>
					</div>
					<div class="section indented">
						<form method="post" action="javascript:;" onsubmit="window.add_opponent();">
							<button class="whitetext" id="add_opponent" name="action" value="add_opponent"><span class="greentext">addOpponent</span>()</button>
						</form>
					</div>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">}</span></div>
				<span class="glyphicon glyphicon-chevron-up section-toggle section-toggle-up whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.cubes<span class="redtext"> = </span><span class="whitetext">[</span> <span class="graytext">//simulate arena with adjustable cubes</span></div>
				<div class="megasection" style="display: none">
					<div class="section indented whitetext" id="cubes">
					</div>
					<div class="section indented">
						<form method="post" action="javascript:;" onsubmit="window.add_cube();" class="whitetext">
							<button class="whitetext" id="add_cube" name="action" value="add_cube"><span class="greentext">addCube</span></button>(<span class="select_outer" style="color: var(--red);"><select id="cube_color" style="color: var(--red);">
								<option value="red">red</option>
								<option value="orange">orange</option>
								<option value="yellow">yellow</option>
								<option value="green">green</option>
								<option value="blue">blue</option>
								<option value="purple">purple</option>
							</select></span>)
						</form>
					</div>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">]</span></div>
				<span class="glyphicon glyphicon-chevron-up section-toggle section-toggle-up whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.rules<span class="redtext"> = </span><span class="whitetext">{</span> <span class="graytext">//simulate arena with adjustable rules</span></div>
				<div class="megasection" style="display: none">
					<div class="section indented whitetext" id="rules">
						<div><span class="whitetext">players: {</span></div>
						<div class="section indented" id="players">
							<span class="whitetext">minimum: </span><span class="select_outer purpletext"><select class="purpletext" id="players_minimum"><% 
								var options = "";
								var values = [2,3,4,5,6];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + values[i] + "'>" + values[i] + "</option>";
								}

								options.replace("value='2'", "value='2' selected");
							%></select></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how many humans must this arena contain at least?</span></summary></details></span><br>
							<span class="whitetext">maximum: </span><span class="select_outer purpletext"><select class="purpletext" id="players_maximum"><% 
								var options = "";
								var values = [2,3,4,5,6];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + values[i] + "'>" + values[i] + "</option>";
								}

								options.replace("value='6'", "value='6' selected");
							%></select></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how many humans can this arena contain at most?</span></summary></details></span><br>
							<span class="whitetext">workshopDuration: </span><span class="select_outer purpletext"><select class="purpletext" id="players_workshopDuration"><% 
								var options = "";
								var values = ["1:00","2:00","5:00","10:00","20:00"];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + (values[i].replace(":00","") * 60 * 1000) + "'>" + values[i] + "</option>";
								}

								options.replace("value='300000'", "value='5:00' selected");
							%></select></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how long does the code workshop last?</span></summary></details></span><br>
							<span class="whitetext">workshopPeriod: </span><span class="select_outer purpletext"><select class="purpletext" id="players_workshopPeriod"><% 
								var options = "";
								var values = [1,5,10,20,50,255];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + values[i] + "'>" + values[i] + "</option>";
								}

								options.replace("value='10'", "value='10' selected");
							%></select></span><span class="graytext"> // <details class="graytext"><summary><span>how many rounds occur between each code workshop?</span></summary></details></span>
						</div>
						<div><span class="whitetext">},</span></div>
						<div><span class="whitetext">cubes: {</span></div>
						<div class="section indented" id="cubes">
							<span class="whitetext">colors: [</span><span id="cubes_colors" class="whitetext"><% 
								var options = "";
								var values = ["red","orange","yellow","green","blue","purple"];
								for (var i = 0; i < values.length; i++) {
									options += " <label class='pseudocheckbox " + values[i] + "text'><input type='checkbox' value='" + values[i] + "' id='cubes_colors_" + values[i] + "' checked/><span></span> " + values[i] + "</label>,";
								}

								options.substring(0,options.length - 1);
							%></span><span class="whitetext">],</span><span class="graytext"> // <details class="graytext"><summary><span>which cube colors does this arena include?</span></summary></details></span><br>
							<span class="whitetext">startCount: </span><span class="select_outer purpletext"><select class="purpletext" id="cubes_startCount"><% 
								var options = "";
								var values = [0,1,2,3,4,5];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + values[i] + "'>" + values[i] + "</option>";
								}

								options.replace("value='1'", "value='1' selected");
							%></select></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how many cubes does each robot start with?</span></summary></details></span><br>
							<span class="whitetext">maximum: </span><span class="select_outer purpletext"><select class="purpletext" id="cubes_maximum"><% 
								var options = "";
								var values = [6,12,24,48,255];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + values[i] + "'>" + values[i] + "</option>";
								}

								options.replace("value='255'", "value='255' selected");
							%></select></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how many cubes can a robot hold?</span></summary></details></span><br>
							<span class="whitetext">spawnRate: </span><span class="select_outer purpletext"><select class="purpletext" id="cubes_spawnRate"><% 
								var options = "";
								var values = [1,2,3,4,5];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + values[i] + "'>" + values[i] + "</option>";
								}

								options.replace("value='1'", "value='1' selected");
							%></select></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how many cubes are generated each round?</span></summary></details></span><br>
							<span class="whitetext">spawnMemory: </span><span class="select_outer purpletext"><select class="purpletext" id="cubes_spawnMemory"><% 
								var options = "";
								var values = [0,1,2,3,4,5];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + values[i] + "'>" + values[i] + "</option>";
								}

								options.replace("value='2'", "value='2' selected");
							%></select></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>when a cube spawns, how many rounds must pass until a cube of the same color can spawn?</span></summary></details></span><br>
							<span class="whitetext">dissolveRate: </span><span class="select_outer purpletext"><select class="purpletext" id="cubes_dissolveRate"><% 
								var options = "";
								var values = [0,1,2,3,4,5,255];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + values[i] + "'>" + values[i] + "</option>";
								}

								options.replace("value='0'", "value='0' selected");
							%></select></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how many untaken cubes are destroyed each round?</span></summary></details></span><br>
							<span class="whitetext">dissolveIndex: </span><span class="select_outer yellowtext"><select class="yellowtext" id="cubes_dissolveIndex"><% 
								var options = "";
								var values = ["newest","oldest","random","none"];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + values[i] + "'>" + values[i] + "</option>";
								}

								options.replace("value='none'", "value='none' selected");
							%></select></span><span class="graytext"> // <details class="graytext"><summary><span>which cubes are destroyed each round?</span></summary></details></span>
						</div>
						<div><span class="whitetext">},</span></div>
						<div><span class="whitetext">robots: {</span></div>
						<div class="section indented" id="robots">
							<span class="whitetext">startPower: </span><span class="select_outer purpletext"><select class="purpletext" id="robots_startPower"><% 
								var options = "";
								var values = [0,1,2,3,4,5,10,255];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + values[i] + "'>" + values[i] + "</option>";
								}

								options.replace("value='1'", "value='1' selected");
							%></select></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how much power does each robot enter the arena with?</span></summary></details></span><br>
							<span class="whitetext">maxPower: </span><span class="select_outer purpletext"><select class="purpletext" id="robots_maxPower"><% 
								var options = "";
								var values = [1,2,5,10,20,50,255];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + values[i] + "'>" + values[i] + "</option>";
								}

								options.replace("value='255'", "value='255' selected");
							%></select></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how much power can a robot hold?</span></summary></details></span><br>
							<span class="whitetext">powerRate: </span><span class="select_outer purpletext"><select class="purpletext" id="robots_powerRate"><% 
								var options = "";
								var values = [1,2,3,4,5,10,20,255];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + values[i] + "'>" + values[i] + "</option>";
								}

								options.replace("value='1'", "value='1' selected");
							%></select></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>when a robot powers, how much does its power increase?</span></summary></details></span><br>
							<span class="whitetext">actions: [</span><span id="robots_actions" class="whitetext"><% 
								var options = "";
								var values = ["power","take","sleep","sap","burn","shock","halftake","swaptake","fliptake"];
								
								for (var i = 0; i < values.length; i++) {
									options += " <label class='pseudocheckbox greentext'><input type='checkbox' value='" + values[i] + "' id='robots_actions_" + values[i] + "'/><span></span> " + values[i] + "</label>,";
								}

								options.substring(0,options.length - 1).replace("id='robots_actions_take'", "id='robots_actions_take' checked").replace("id='robots_actions_power'", "id='robots_actions_power' checked").replace("id='robots_actions_sleep'", "id='robots_actions_sleep' checked");
							%></span><span class="whitetext">],</span><span class="graytext"> // <details class="graytext"><summary><span>which actions are available to robots in this arena?</span></summary><ul><%
								var outputList = '<li><span class="greentext">power</span>: increment the robot\'s power number</li>\
									<li><span class="greentext">take</span>: the taker with the most power wins the round\'s cubes</li>\
									<li><span class="greentext">sleep</span>: do nothing; this is the default for code errors or taking without power</li>';
								if ((session.human !== null) && (session.human.email !== null) && (((session.human.statistics.wins * 5) + session.human.statistics.losses) >= 25)) {
									outputList += '<li><span class="greentext">sap</span>: steal power from charging opponents with greater power</li>\
									<li><span class="greentext">halftake</span>: use half power, rounding up, to take cubes</li>\
									<li><span class="greentext">fliptake</span>: take the cubes but invert the colors</li>';
								}
								if ((session.human !== null) && (session.human.email !== null) && (((session.human.statistics.wins * 5) + session.human.statistics.losses) >= 50)) {
									outputList += '<li><span class="greentext">burn</span>: convert a random cube into power</li>\
									<li><span class="greentext">shock</span>: use half power to put opponents with more total cubes to sleep</li>\
									<li><span class="greentext">swaptake</span>: use half power to take cubes and return the same number of cubes, randomly</li>';
								}
								outputList;
							%></ul></details></span><br>
							<span class="whitetext">tieBreaker: </span><span class="select_outer yellowtext"><select class="yellowtext" id="robots_tieBreaker"><% 
								var options = "";
								var values = ["leave","dissolve","cascade","catchup","random"];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + values[i] + "'>" + values[i] + "</option>";
								}

								options.replace("value='cascade'", "value='cascade' selected");
							%></select></span><span class="graytext"> // <details class="graytext"><summary><span>when multiple takers have the same power, where do the cubes go?</span></summary><li><span class="yellowtext">leave</span>: the cubes stay in the arena</li><li><span class="yellowtext">dissolve</span>: the cubes are destroyed</li><li><span class="yellowtext">cascade</span>: the cubes go to the next-most-powered robot</li><li><span class="yellowtext">catchup</span>: the cubes go to the robot with the least cubes</li><li><span class="yellowtext">random</span>: the cubes go to a random robot</li></details></span>
						</div>
						<div><span class="whitetext">},</span></div>
						<div><span class="whitetext">victory: {</span></div>
						<div class="section indented" id="victory">
							<span class="whitetext">conditions: [</span><span id="robots_actions" class="whitetext"><% 
								var options = "";
								var values = ["1of6","2of3","3of2","6of1"];
								for (var i = 0; i < values.length; i++) {
									options += " <label class='pseudocheckbox yellowtext'><input type='checkbox' value='" + values[i] + "' id='victory_conditions_" + values[i] + "'/><span></span> " + values[i] + "</label>,";
								}

								options.substring(0,options.length - 1).replace("id='victory_conditions_1of6'", "id='victory_conditions_1of6' checked").replace("id='victory_conditions_2of3'", "id='victory_conditions_2of3' checked").replace("id='victory_conditions_6of1'", "id='victory_conditions_6of1' checked");
							%></span><span class="whitetext">],</span><span class="graytext"> // <details class="graytext"><summary><span>which cube combinations result in victory?</span></summary><li><span class="yellowtext">1of6</span>: 1 cube of each of the 6 colors</li><li><span class="yellowtext">2of3</span>: 2 cubes of each primary (red, yellow, blue) or secondary (orange, green, purple) color</li><li><span class="yellowtext">3of2</span>: 3 of each of two complimentary colors (red/green, orange/blue, yellow/purple)</li><li><span class="yellowtext">6of1</span>: 6 cubes of 1 color</li></details></span><br>
							<span class="whitetext">multiplier: </span><span class="select_outer purpletext"><select class="purpletext" id="victory_multiplier"><% 
								var options = "";
								var values = [1,2,3,4,5,10];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + values[i] + "'>" + values[i] + "</option>";
								}

								options.replace("value='1'", "value='1' selected");
							%></select></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>by how much are the cube counts necessary for victory multiplied?</span></summary></details></span><br>
							<span class="whitetext">tieBreaker: </span><span class="select_outer yellowtext"><select class="yellowtext" id="victory_tieBreaker"><% 
								var options = "";
								var values = ["tie","greedy","efficient","random"];
								for (var i = 0; i < values.length; i++) {
									options += "<option value='" + values[i] + "'>" + values[i] + "</option>";
								}

								options.replace("value='efficient'", "value='efficient' selected");
							%></select></span><span class="whitetext"></span><span class="graytext"> // <details class="graytext"><summary><span>if multiple robots meet the victory conditions, which robot is the winner?</span></summary><li><span class="yellowtext">tie</span>: each of these robots wins</li><li><span class="yellowtext">greedy</span>: the robot with the most cubes wins</li><li><span class="yellowtext">efficient</span>: the robot with the least cubes wins</li><li><span class="yellowtext">random</span>: a random one of these robots wins</li></details></span>
						</div>
						<div><span class="whitetext">}</span></div>
					</div>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">}</span></div>
			</div>
		</div>
	</body>
</html>