/* * robots * */
	.container {
		border-color: var(--green);
	}

	.top_inner {
		border-color: var(--green);
	}

	#name_frame.active {
		padding-top: 28px;
	}

	#bio {
		user-select: auto;
		-webkit-user-select: auto;
		-moz-user-select: auto;
		cursor: auto;
	}

	#code {
		user-select: auto;
		-webkit-user-select: auto;
		-moz-user-select: auto;
		cursor: auto;
	}

	/* avatar */
		#avatar_selection {
			display: none;
			line-height: 1;
			border: 2px solid var(--white);
			padding: 10px;
			border-radius: 5px;
			width: 100%;
		}

		#avatar_selection select {
			-webkit-appearance: none;
			-moz-appearance: none;
			-o-appearance: none;
			z-index: 2;
			text-align: center;
			line-height: 1;
			background-color: rgba(000,000,000,0);
			outline: none;
			border: 0px;
			border-radius: 5px;
			font-size: 16px;
			text-align-last:center;
			font-weight: bold;
			padding-bottom: 2px;
			height: auto;
		}

		#avatar_selection select:hover {
			box-shadow: 0px 0px 20px var(--white);
		}

	/* code colors */
		[redtext] {
			color: var(--red);
		}

		[orangetext] {
			color: var(--orange);
		}

		[yellowtext] {
			color: var(--yellow);
		}

		[greentext] {
			color: var(--green);
		}

		[bluetext] {
			color: var(--blue);
		}

		[purpletext] {
			color: var(--purple);
		}

		[whitetext] {
			color: var(--white);
		}

		[graytext] {
			color: var(--gray);
		}

		[blacktext] {
			color: var(--black);
		}

	/* comment colors */
		[graytext] [redtext] {
			color: var(--gray);
		}

		[graytext] [orangetext] {
			color: var(--gray);
		}

		[graytext] [yellowtext] {
			color: var(--gray);
		}

		[graytext] [greentext] {
			color: var(--gray);
		}

		[graytext] [bluetext] {
			color: var(--gray);
		}

		[graytext] [purpletext] {
			color: var(--gray);
		}

		[graytext] [whitetext] {
			color: var(--gray);
		}

		[graytext] [graytext] {
			color: var(--gray);
		}

		[graytext] [blacktext] {
			color: var(--gray);
		}

