/* * robots * */
	.container {
		border-color: var(--green);
	}

	.top_inner {
		border-color: var(--green);
	}

	#name_frame.active {
		padding-top: 28px;
	}

	#bio {
		user-select: auto;
		-webkit-user-select: auto;
		-moz-user-select: auto;
		cursor: auto;
	}

	/* code */
		#code {
			user-select: auto;
			-webkit-user-select: auto;
			-moz-user-select: auto;
			cursor: auto;
		}

		#console {
			line-height: 1;
		}

		.live_line {
			background-color: #111111;
			border-radius: 5px;
			padding: 0px 4px 0px 4px;
			margin: 0px -4px 0px -4px;
		}

	/* avatar */
		#avatar_selection {
			display: none;
			line-height: 1.15;
			border: 2px solid var(--white);
			padding: 10px;
			border-radius: 5px;
			width: 100%;
		}

		#avatar_selection select {
			-webkit-appearance: none;
			-moz-appearance: none;
			-o-appearance: none;
			z-index: 2;
			text-align: center;
			line-height: 1.15;
			background-color: rgba(000,000,000,0);
			outline: none;
			border: 0px;
			border-radius: 5px;
			font-size: 16px;
			text-align-last:center;
			font-weight: bold;
			padding-bottom: 2px;
			height: auto;
		}

		#avatar_selection select:hover {
			box-shadow: 0px 0px 20px var(--white);
		}

	/* arena */
		.self {
			width: 340px;
			height: 186px;
			border: 2px solid var(--white);
			border-radius: 5px;
			padding: 10px 10px 0px 10px;
			display: inline-block;
			margin: 5px;
			line-height: 1;
		}

		.self pre {
			width: 155px;
			height: 172px;
			text-align: center;
			overflow: hidden;
			float: left;
			padding: 0px;
		}

		.opponent {
			width: 340px;
			height: 186px;
			border: 2px solid var(--gray);
			border-radius: 5px;
			padding: 10px 10px 0px 10px;
			display: inline-block;
			margin: 5px;
			line-height: 1;
		}

		.opponent pre {
			width: 155px;
			height: 172px;
			text-align: center;
			overflow: hidden;
			float: left;
			padding: 0px;
		}

		.stats {
			float: left;
			width: 161px;
			height: 172px;
		}

		.cube_outer {
			width: 80px;
			height: 80px;
			border: 2px solid var(--white);
			border-radius: 5px;
			text-align: center;
			display: inline-block;
			margin: 5px;
		}

		.cube_inner {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			color: var(--white);
		}
		