<!DOCTYPE html>
<html>
	<head>
		<title>ai_arenas.<% try {data.id.substring(0,4)} catch(error) {"arenas"} %></title>
		<link rel="shortcut icon" type="image/png" href="logo.png"/>
		<link rel="stylesheet" type="text/css" href="<% assets('bootstrap') %>"/>
		<link rel="stylesheet" type="text/css" href="stylesheet.css"/>
		<% colors(session); %>
		<script type="text/javascript" src="<% assets('jquery') %>"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>
	<body>
		<% navbar(session); %>
		<div class="container" value="<% data.id || null %>">
			<div class="top_outer">
				<div class="top_inner">
					<div class="section">
						<span class="whitetext header"><% try {data.id.substring(0,4)} catch(error) {"arenas"} %></span> <span class="graytext" id="message_top"></span>
					</div>
					<div class="indented">
						<div class="section">
							<span class="whitetext">.round</span><span class="redtext"> = </span><span id="round" class="purpletext" value="<% if (data.state.start === null) { 'unstarted' } else if (data.state.end !== null) { 'concluded' } else { 'active'} %>"><%
								if (data.state.start === null) {
									"null";
								}
								else if (data.state.end !== null) {
									"null";
								}
								else {
									var pastRounds = data.rounds.filter(function(round) { var now = new Date().getTime(); return (round.start <= now);});
									Number(pastRounds.length - 1);
								}
							%></span><span class="whitetext">;</span>
						</div>
						<div class="section" id="pauseDetails" <% if ((data.state.pauseFrom === null) || (data.state.pauseTo === null)) { "style='display: none;'";} %>>
							<span class="whitetext">.pauseRemaining</span><span class="redtext"> = </span><span id="pause" class="purpletext"><% 
								if ((data.state.pauseFrom !== null) && (data.state.pauseTo !== null)) {
									Math.floor((data.state.pauseTo - (new Date().getTime())) / 1000);
								}
							else {
								"null";
							}
							%></span><span class="whitetext">;</span>
						</div>
						<% 
							if ((session.user !== null) && (data.users.indexOf(session.user.id) > -1)) {
								var string = "";
								var entrant = data.entrants[Object.keys(data.entrants).find(function(i) { return data.entrants[i].user.id === session.user.id })] || null;
								
								if ((typeof entrant === "undefined") || (entrant === "undefined") || (entrant === null)) {
									var options = "";
									var values = session.user.robots || [];
									for (var i = 0; i < values.length; i++) {
										options += '<option value="' + values[i].id + '">' + values[i].name + '</option>';
									}


									string += '<form id="selection_form" method="post" action="javascript:;" onsubmit="window.select_robot();">\
										<span class="whitetext">.</span><button id="select_robot" name="action" value="select_robot"><span class="greentext">select</span></button><span class="whitetext">(</span><select class="whitetext" id="robot_selection">' + options + '</select><span class="whitetext">);</span>\
										</form>';
								}

								if ((data.state.start === null) && (data.users[0] === session.user.id)) {
									string += '<form id="launch_form" method="post" action="javascript:;" onsubmit="window.launch_arena();">\
										<span class="whitetext">.</span><button id="launch_arena" name="action" value="launch_arena"><span class="greentext">launch</span></button><span class="whitetext">();</span>\
									</form>';
								}

								string += '<form id="leave_form" method="post" action="javascript:;" onsubmit="window.leave_arena();">\
									<span class="whitetext">.</span><button id="leave_arena" name="action" value="leave_arena"><span class="greentext">leave</span></button><span class="whitetext">();</span>\
								</form>';

								string;
							}
							else if ((session.user !== null) && (data.state.start === null)) {
								'<form id="join_form" method="post" action="javascript:;" onsubmit="window.join_arena();">\
									<span class="whitetext">.</span><button id="join_arena" name="action" value="join_arena"><span class="greentext">join</span></button><span class="whitetext">();</span>\
								</form>';
							}
						%>
					</div>
					<hr>
				</div>
			</div>
			<div class="indented content">
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<hr>
				<div class="megasection">
					<div class="section" id="players" value="<% data.users %>" <% if (data.state.start !== null) {"style='display: none';"} %>>
						<span class="whitetext">.players</span><span class="redtext"> = </span><span class="whitetext">[</span>
						<div class="indented whitetext">
							<% 
								var string = "";
								for (var i = 0; i < data.users.length; i++) {
									var entrant = data.entrants[Object.keys(data.entrants).find(function(j) { return (data.entrants[j].user.id === data.users[i])})];
									if ((typeof entrant !== "undefined") && (entrant !== "undefined") && (entrant !== null)) {
										string += "<a class='bluetext' target='_blank' href='../../../../users/" + entrant.user.name + "'>" + entrant.user.name + "</a>, ";
									}
									else {
										string += "<span class='yellowtext'>???</span>, ";
									}
								}

								string.substring(0, string.length - 2);
							%>
						</div>
						<span class="whitetext">];</span>
					</div>
					<div class="section" id="cubes" <% if ((data.state.start === null) || (data.state.end !== null) || (data.state.pauseFrom !== null) || (data.state.pauseTo !== null)) {"style='display: none';"} %>>
						<span class="whitetext">.cubes</span><span class="redtext"> = </span><span class="whitetext">[</span>
							<div class="indented" id="currentCubes">
								<% 
									if ((data.state.start !== null) && (data.state.end === null)) {
										var currentRound = data.rounds[data.rounds.length - 1];
										var string = "";

										for (var i = 0; i < currentRound.cubes.length; i++) {
											string += "<span class='bigCube_outer " + currentRound.cubes[i] + "text'>[<span class='bigCube_inner'>" + currentRound.cubes[i] + "</span>]</span>";
										}

										string;
									}
								%>
							</div>
						<span class="whitetext">];</span>
					</div>
					<div class="section" id="victors" <% if (data.state.end === null) {"style='display: none';"} %>>
						<span class="whitetext">.victors</span><span class="redtext"> = </span><span class="whitetext">[</span>
							<div class="indented victorList">
								<% 
									if (data.state.end !== null) {
										var victors = data.state.victors;
										var string = "";

										for (var i = 0; i < victors.length; i++) {
											string += "<span class='victor'><a class='victor_robot bluetext' href='../../../../robots/" + victors[i] + "'>" + data.entrants[victors[i]].name + "</a><a class='victor_user bluetext' href='../../../../users/" + data.entrants[victors[i]].user.name + "'>" + data.entrants[victors[i]].user.name + "</a></span>";
										}

										string;
									}
								%>
							</div>
						<span class="whitetext">];</span>
					</div>
					<div class="section" id="workshop" value="<% if ((session.user !== null) && (data.users.indexOf(session.user.id) > -1) && (Object.keys(data.entrants).length > 0)) { (Object.keys(data.entrants).find(function(entrant) { return (data.entrants[entrant].user.id === session.user.id)}).id || null) } %>" <% if ((data.state.start === null) || (data.state.end !== null) || (data.state.pauseFrom === null) || (data.state.pauseTo === null)) {"style='display: none';"} %>>
						<% 
							if ((session.user !== null) && (data.users.indexOf(session.user.id) > -1)) {
								var entrant = data.entrants[Object.keys(data.entrants).find(function(i) { return (data.entrants[i].user.id === session.user.id); })] || null;
								if ((typeof entrant !== "undefined") && (entrant !== "undefined") && (entrant !== null)) {
									'<div class="section">\
										<button id="robot_save"><span class="whitetext">.</span><span class="greentext">save</span><span class="whitetext">();</span></button>\
									</div> <span class="message graytext"></span>\
									<div class="section">\
										<span class="whitetext">.</span><span class="greentext">code</span><span class="redtext"> = </span><span class="bluetext">function</span><span class="whitetext">(</span><span class="field_frame active"><span class="orangetext field" contenteditable="true" id="inputs" value=' + (String(entrant.inputs.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;")).replace(/\</g, "&lt;").replace(/\>/g, "&gt;") || null) + '>' + String(entrant.inputs) + '</span></span><span class="whitetext">) {</span> <span class="message graytext"></span>\
										<div class="indented">\
											<div class="field_frame active">\
												<span class="whitetext field" contenteditable="true" id="code" value=' + (String(entrant.code.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\</g, "&lt;").replace(/\>/g, "&gt;")) || null) + '>' + String(entrant.code) + '</span>\
											</div>\
										</div>\
										<span class="whitetext">};</span>\
									</div>';
								}
							}
							else {
								'<div class="indented">\
									<span class="graytext spectatorMessage">//the arena is paused</span>\
								</div>';
							}
						%>
					</div>
				</div>
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<hr>
				<div class="megasection" id="robots" value="<% Object.keys(data.entrants) %>">
					<span class="whitetext">.robots</span><span class="redtext"> = </span><span class="whitetext">[</span>
					<div class="indented">
						<%  
							if ((data.entrants !== null) && (Object.keys(data.entrants).length > 0)) {
								var string = "";
								
								if ((session.user !== null) && (data.users.indexOf(session.user.id) > -1)) {
									var entrants = Object.keys(data.entrants).filter(function(i) { return data.entrants[i].user.id !== session.user.id }) || [];
									entrants.unshift(Object.keys(data.entrants).find(function (i) { return data.entrants[i].user.id === session.user.id }));
								}
								else {
									var entrants = Object.keys(data.entrants);
								}

								for (var i = 0; i < entrants.length; i++) {
									var entrant = data.entrants[entrants[i]];
									if (data.rounds.length > 0) {
										var robot = data.rounds[data.rounds.length - 1].robots.find(function(i) { return i.name = entrant.id}) || {};
									}
									else {
										var robot = {
											power: 0,
											cubes: {
												red: 0,
												orange: 0,
												yellow: 0,
												green: 0,
												blue: 0,
												purple: 0
											}
										};
									}

									string += ('<div class="section opponent" id="' + entrant.id + '">\
										<pre class="avatar_pre" monospace style="color: ' + (entrant.avatar.color || "var(--white)") + '">\
<span class="transparenttext">••••••</span><span class="avatar avatar_antennae" value="' + (entrant.avatar.antennae.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••••') + '">' + (entrant.avatar.antennae || "•••••") + '</span><span class="transparenttext">•••••</span>\n\
<span class="transparenttext">•</span><span class="avatar avatar_left_hand" value="' + (entrant.avatar.left_hand.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••••') + '">' + (entrant.avatar.left_hand || "••••") + '</span><span class="transparenttext">•</span><span class="avatar avatar_eyes" value="' + (entrant.avatar.eyes.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••••') + '">' + (entrant.avatar.eyes || "•••••") + '</span><span class="transparenttext">•••••</span>\n\
<span class="transparenttext">•</span><span class="avatar avatar_left_wrist" value="' + (entrant.avatar.left_wrist.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••••') + '">' + (entrant.avatar.left_wrist || "••••") + '</span><span class="transparenttext">•</span><span class="avatar avatar_mouth" value="' + (entrant.avatar.mouth.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••••') + '">' + (entrant.avatar.mouth || "•••••") + '</span><span class="transparenttext">•••••</span>\n\
<span class="transparenttext">•••</span><span class="avatar avatar_left_shoulder_up">\\</span><span class="avatar avatar_left_arm" value="' + (entrant.avatar.left_arm.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••') + '">' + (entrant.avatar.left_arm || "••") + '</span><span class="avatar avatar_torso_1" value="' + (entrant.avatar.torso_1.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••••') + '">' + (entrant.avatar.torso_1 || "•••••") + '</span><span class="avatar avatar_right_arm" value="' + (entrant.avatar.right_arm.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••') + '">' + (entrant.avatar.right_arm || "••") + '</span><span class="avatar avatar_right_shoulder_down">\\</span><span class="transparenttext">••</span>\n\
<span class="transparenttext">••••••</span><span class="avatar avatar_torso_2" value="' + (entrant.avatar.torso_2.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••••') + '">' + (entrant.avatar.torso_2 || "•••••") + '</span><span class="transparenttext">•</span><span class="avatar avatar_right_wrist" value="' + (entrant.avatar.right_wrist.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••') + '">' + (entrant.avatar.right_wrist || "••") + '</span>\n\
<span class="transparenttext">••••••</span><span class="avatar avatar_torso_3" value="' + (entrant.avatar.torso_3.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••••') + '">' + (entrant.avatar.torso_3 || "•••••") + '</span><span class="transparenttext">•</span><span class="avatar avatar_right_hand" value="' + (entrant.avatar.right_hand.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••••') + '">' + (entrant.avatar.right_hand || "••••") + '</span>\n\
<span class="transparenttext">•••••</span><span class="avatar avatar_legs" value="' + (entrant.avatar.legs.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••••••') + '">' + (entrant.avatar.legs || "•••••••") + '</span><span class="transparenttext">••••</span>\n\
<span class="transparenttext">•••••</span><span class="avatar avatar_left_foot" value="' + (entrant.avatar.left_foot.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••') + '">' + (entrant.avatar.left_foot || "•••") + '</span><span class="transparenttext">•</span><span class="avatar avatar_right_foot" value="' + (entrant.avatar.right_foot.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••') + '">' + (entrant.avatar.right_foot || "•••") + '</span><span class="transparenttext">••••</span></pre>\
										<span class="whitetext">name: </span><a class="bluetext" href="../../../../robots/' + entrant.id + '" target="_blank">' + entrant.name + '</a><span class="whitetext">,</span><br>\
										<span class="whitetext">action: </span><span class="greentext action">' + (robot.action || "???") + '</span><span class="whitetext">(),</span><br>\
										<span class="whitetext">power: </span><span class="purpletext power">' + (robot.power || "0") + '</span><span class="whitetext">,</span><br>\
										<span class="whitetext">cubes: {\
											<div class="indented">\
												<span class="redtext">r:<span class="cubes_red">' + (robot.cubes.red || "0") + '</span></span>,\
												<span class="orangetext">o:<span class="cubes_orange">' + (robot.cubes.orange || "0") + '</span></span>,\
												<span class="yellowtext">y:<span class="cubes_yellow">' + (robot.cubes.yellow || "0") + '</span></span>,\
												<span class="greentext">g:<span class="cubes_green">' + (robot.cubes.green || "0") + '</span></span>,\
												<span class="bluetext">b:<span class="cubes_blue">' + (robot.cubes.blue || "0") + '</span></span>,\
												<span class="purpletext">p:<span class="cubes_purple">' + (robot.cubes.purple || "0") + '</span></span>\
											</div>\
										}</span>\
									</div>');
								}

								string.replace("section opponent", "section self");
							}
						%>
					</div>
					<span class="whitetext">];</span>
				</div>
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<hr>
				<div class="megasection" id="rules">
					<span class="whitetext">.rules</span><span class="redtext"> = </span><span class="whitetext">{</span>
						<div class="indented">
							<div class="section" id="rules_players">
								<span class="whitetext">players: {</span>
								<div class="indented">
									<span class="whitetext">minimum: </span><span class="purpletext"><% data.rules.players.minimum || "null" %></span><span class="whitetext">,</span><br>
									<span class="whitetext">maximum: </span><span class="purpletext"><% data.rules.players.maximum || "null" %></span><span class="whitetext">,</span><br>
									<span class="whitetext">pauseDuration: </span><span class="purpletext"><% data.rules.players.pauseDuration || "null" %></span><span class="whitetext">,</span><br>
									<span class="whitetext">pausePeriod: </span><span class="purpletext"><% data.rules.players.pausePeriod || "null" %></span>
								</div>
								<span class="whitetext">},</span>
							</div>
							<div class="section" id="rules_cubes">
								<span class="whitetext">cubes: {</span>
								<div class="indented">
									<span class="whitetext">colors: [</span><span class="whitetext"><% 
										try {
											var string = "";
											for (var i = 0; i < data.rules.cubes.colors.length; i++) {
												string += ("<span class='" + data.rules.cubes.colors[i] + "text'>" + data.rules.cubes.colors[i] + "</span>, ");
											}
											string.substring(0, string.length - 2);
										}
										catch (error) {
											"null";
										}
									%></span><span class="whitetext">],</span><br>
									<span class="whitetext">startCount: </span><span class="purpletext"><% data.rules.cubes.startCount || "null" %></span><span class="whitetext">,</span><br>
									<span class="whitetext">maximum: </span><span class="purpletext"><% data.rules.cubes.maximum || "null" %></span><span class="whitetext">,</span><br>
									<span class="whitetext">spawnRate: </span><span class="purpletext"><% data.rules.cubes.spawnRate || "null" %></span><span class="whitetext">,</span><br>
									<span class="whitetext">spawnMemory: </span><span class="purpletext"><% data.rules.cubes.spawnMemory || "null" %></span><span class="whitetext">,</span><br>
									<span class="whitetext">dissolveRate: </span><span class="purpletext"><% data.rules.cubes.dissolveRate || "null" %></span><span class="whitetext">,</span><br>
									<span class="whitetext">dissolveIndex: </span><span class="yellowtext">"<% data.rules.cubes.dissolveIndex || "null" %>"</span>
								</div>
								<span class="whitetext">},</span>
							</div>
							<div class="section" id="rules_robots">
								<span class="whitetext">robots: {</span>
								<div class="indented">
									<span class="whitetext">startPower: </span><span class="purpletext"><% data.rules.robots.startPower || "null" %></span><span class="whitetext">,</span><br>
									<span class="whitetext">maxPower: </span><span class="purpletext"><% data.rules.robots.maxPower || "null" %></span><span class="whitetext">,</span><br>
									<span class="whitetext">powerRate: </span><span class="purpletext"><% data.rules.robots.powerRate || "null" %></span><span class="whitetext">,</span><br>
									<span class="whitetext">actions: [</span><span class="whitetext"><% 
										try {
											var string = "";
											for (var i = 0; i < data.rules.robots.actions.length; i++) {
												string += ("<span class='greentext'>" + data.rules.robots.actions[i] + "</span>(), ");
											}
											string.substring(0, string.length - 2);
										}
										catch (error) {
											"null";
										}
									%></span><span class="whitetext">],</span><br>
									<span class="whitetext">tieBreaker: </span><span class="yellowtext">"<% data.rules.robots.tieBreaker || "null" %>"</span>
								</div>
								<span class="whitetext">},</span>
							</div>
							<div class="section" id="rules_victory">
								<span class="whitetext">victory: {</span>
								<div class="indented">
									<span class="whitetext">conditions: [</span><span class="whitetext"><% 
										try {
											var string = "";
											for (var i = 0; i < data.rules.victory.conditions.length; i++) {
												string += ("<span class='yellowtext'>\"" + data.rules.victory.conditions[i] + "\"</span>, ");
											}
											string.substring(0, string.length - 2);
										}
										catch (error) {
											"null";
										}
									%></span><span class="whitetext">],</span><br>
									<span class="whitetext">multiplier: </span><span class="purpletext"><% data.rules.victory.multiplier || "null" %></span><span class="whitetext">,</span><br>
									<span class="whitetext">tieBreaker: </span><span class="yellowtext">"<% data.rules.victory.tieBreaker || "null" %>"</span><br>
								</div>
								<span class="whitetext">}</span>
							</div>
						</div>
						<span class="whitetext">}</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>