<!DOCTYPE html>
<html>
	<head>
		<title>ai_arenas.<% try {data.id.substring(0,4)} catch(error) {"arenas"} %></title>
		<link rel="shortcut icon" type="image/png" href="logo.png"/>
		<link rel="stylesheet" type="text/css" href="<% assets('bootstrap') %>"/>
		<link rel="stylesheet" type="text/css" href="<% assets('google_fonts') %>"/>
		<link rel="stylesheet" type="text/css" href="../../arenas/stylesheet.css"/>
		<% colors(session) + fonts(session); %>
		<script type="text/javascript" src="<% assets('jquery') %>"></script>
		<script type="text/javascript" src="../../arenas/script.js"></script>
	</head>
	<body>
		<% navbar(session); %>
		<div class="container" value="<% data.id || null %>">
			<div class="top_outer">
				<div class="top_inner">
					<div class="section">
						<span class="whitetext header"><% try {data.id.substring(0,4)} catch(error) {"arenas"} %></span> <span class="graytext" id="message_top"></span>
					</div>
					<div class="indented">
						<div class="section" <% var timeNow = new Date().getTime(); if ((data.state.end !== null) && (data.state.end < timeNow)) { "style='display: none;'";} %>>
							<span class="whitetext">.round</span><span class="redtext"> = </span><span id="round" class="purpletext" value="<% if (data.state.start === null) { 'unstarted' } else if ((data.state.end !== null) && (data.state.end < timeNow)) { 'concluded' } else { 'active'} %>"><%
								if (data.state.start === null) {
									"null";
								}
								else if ((data.state.end !== null) && (data.state.end < timeNow)) {
									"null";
								}
								else {
									var pastRounds = data.rounds.filter(function(round) { var now = new Date().getTime(); return (round.start <= now);});

									if (pastRounds.length > 0) {
										Number(pastRounds.length - 1);
									}
									else {
										"null";
									}
								}
							%></span><span class="whitetext">;</span>
						</div>
						<div class="section" id="pauseDetails" <% if ((data.state.pauseFrom === null) || (data.state.pauseTo === null) || (data.state.pauseFrom > timeNow) || (data.state.pauseTo < timeNow)) { "style='display: none;'";} %>>
							<span class="whitetext">.pauseRemaining</span><span class="redtext"> = </span><span id="pause" class="purpletext"><% 
								if ((data.state.pauseFrom !== null) && (data.state.pauseTo !== null)) {
									Math.floor((data.state.pauseTo - (new Date().getTime())) / 1000);
								}
							else {
								"null";
							}
							%></span><span class="whitetext">;</span>
						</div>
						<% 
							if ((session.human !== null) && (data.humans.indexOf(session.human.id) > -1) && (data.state.start === null)) {
								var string = "";
								var entrant = data.entrants[Object.keys(data.entrants).find(function(i) { return data.entrants[i].human.id === session.human.id })] || null;
								
								if ((typeof entrant === "undefined") || (entrant === "undefined") || (entrant === null)) {
									var options = "";
									var values = session.human.robots || [];
									for (var i = 0; i < values.length; i++) {
										options += '<option value="' + values[i].id + '">' + values[i].name + '</option>';
									}


									string += '<form id="selection_form" method="post" action="javascript:;" onsubmit="window.select_robot();">\
										<span class="whitetext">.</span><button id="select_robot" name="action" value="select_robot"><span class="greentext">select</span></button><span class="whitetext">(</span><select class="whitetext" id="robot_selection">' + options + '</select><span class="whitetext">);</span>\
										</form>';
								}

								if (data.humans[0] === session.human.id) {
									string += '<form id="launch_form" method="post" action="javascript:;" onsubmit="window.launch_arena();">\
										<span class="whitetext">.</span><button id="launch_arena" name="action" value="launch_arena"><span class="greentext">launch</span></button><span class="whitetext">();</span>\
									</form>';
								}

								if ((data.humans[0] === session.human.id) && (data.state.end === null)) {
									string += '<form id="delete_form" method="post" action="javascript:;" onsubmit="window.delete_arena();">\
										<span class="whitetext">.</span><button id="delete_arena" name="action" value="delete_arena"><span class="greentext">delete</span></button><span class="whitetext">();</span>\
									</form>';
								}

								if (data.state.end === null) {
									string += '<form id="leave_form" method="post" action="javascript:;" onsubmit="window.leave_arena();">\
										<span class="whitetext">.</span><button id="leave_arena" name="action" value="leave_arena"><span class="greentext">leave</span></button><span class="whitetext">();</span>\
									</form>';
								}

								string;
							}
							else if ((session.human !== null) && (data.state.start === null)) {
								'<form id="join_form" method="post" action="javascript:;" onsubmit="window.join_arena();">\
									<span class="whitetext">.</span><button id="join_arena" name="action" value="join_arena"><span class="greentext">join</span></button><span class="whitetext">();</span>\
								</form>';
							}
						%>
						<div class="section" id="victors" <% if ((data.state.end === null) || (data.state.end > timeNow)) {"style='display: none';"} %>>
							<span class="whitetext">.victors</span><span class="redtext"> = </span><span class="whitetext">[</span>
							<span class="victorList whitetext">
								<% 
									if ((data.state.end !== null) && (data.state.end < timeNow)) {
										var victors = data.state.victors;
										var string = "";

										for (var i = 0; i < victors.length; i++) {
											string += "{<span class='victor'><a class='victor_robot bluetext' href='../../../../robots/" + victors[i] + "'>" + data.entrants[victors[i]].name + "</a>: <a class='victor_human bluetext' href='../../../../humans/" + data.entrants[victors[i]].human.name + "'>" + data.entrants[victors[i]].human.name + "</a></span>}, ";
										}

										string.substring(0, string.length - 2);
									}
								%>
							</span>
						<span class="whitetext">];</span>
					</div>
					</div>
					<hr>
				</div>
			</div>
			<div class="indented content">
				<div class="megasection" id="postgame_outer" <% if ((data.state.end === null) || (data.state.end > timeNow)) {"style='display: none';"} %>>
					<div class="section" id="postgame">
						<%
							if ((data.state.end !== null) && (data.state.end < timeNow)) {
								if ((session.human !== null) && (data.humans.indexOf(session.human.id) > -1)) {
									var victory = false;
									for (var i = 0; i < data.state.victors.length; i++) {
										if (data.entrants[data.state.victors[i]].human.id === session.human.id) {
											victory = true;
										}
									}

									if (victory) {
											'<span class="graytext message spectatorMessage">//your robot has achieved victory in this arena</span>';
									}
									else {
										'<span class="graytext message spectatorMessage">//your robot has achieved defeat in this arena</span>';
									}
								}
								else {
									'<span class="graytext message spectatorMessage">//this arena has concluded</span>';
								}
							}
						%>
					</div>
				</div>
				<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.robots</span><span class="redtext"> = </span><span class="whitetext">[</span></div>
				<div class="megasection" id="robots" value="<% Object.keys(data.entrants) %>">
					<div class="section indented">
						<%  
							if ((data.entrants !== null) && (Object.keys(data.entrants).length > 0)) {
								var string = "";
								
								if ((session.human !== null) && (data.humans.indexOf(session.human.id) > -1)) {
									var entrants = Object.keys(data.entrants).filter(function(i) { return data.entrants[i].human.id !== session.human.id }) || [];
									entrants.unshift(Object.keys(data.entrants).find(function (i) { return data.entrants[i].human.id === session.human.id }));
								}
								else {
									var entrants = Object.keys(data.entrants);
								}

								for (var i = 0; i < entrants.length; i++) {
									var entrant = data.entrants[entrants[i]];
									if (data.rounds.length > 0) {
										var robot = data.rounds[data.rounds.length - 1].robots.find(function(i) { return i.name === entrant.id}) || {};
									}
									else {
										var robot = {
											power: 0,
											cubes: {
												red: 0,
												orange: 0,
												yellow: 0,
												green: 0,
												blue: 0,
												purple: 0
											}
										};
									}

									string += ('<div class="section opponent" id="' + entrant.id + '">\
										<div class="stats">\
											<span class="whitetext">power: </span><span class="purpletext power">' + (robot.power || "0") + '</span><span class="whitetext">,</span><br>\
											<span class="whitetext">cubes: {\
												<div class="indented">\
													<span class="redtext">r: <span class="cubes_red">' + (robot.cubes.red || "0") + '</span></span>,<br>\
													<span class="orangetext">o: <span class="cubes_orange">' + (robot.cubes.orange || "0") + '</span></span>,<br>\
													<span class="yellowtext">y: <span class="cubes_yellow">' + (robot.cubes.yellow || "0") + '</span></span>,<br>\
													<span class="greentext">g: <span class="cubes_green">' + (robot.cubes.green || "0") + '</span></span>,<br>\
													<span class="bluetext">b: <span class="cubes_blue">' + (robot.cubes.blue || "0") + '</span></span>,<br>\
													<span class="purpletext">p: <span class="cubes_purple">' + (robot.cubes.purple || "0") + '</span></span>\
												</div>\
											},</span><br>\
											<span class="whitetext">action: </span><span class="greentext action">' + (robot.action || "???") + '</span>\
										</div>\
										<pre class="avatar_pre" monospace style="color: ' + (entrant.avatar.color || "var(--white)") + '">\
<span class="transparenttext leftDot">•</span><span class="transparenttext">•••••</span><span class="avatar avatar_antennae" value="' + (entrant.avatar.antennae.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••••') + '">' + (entrant.avatar.antennae || "•••••") + '</span><span class="transparenttext">•••••</span>\n\
<span class="transparenttext leftDot">•</span><span class="avatar avatar_left_hand" value="' + (entrant.avatar.left_hand.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••••') + '">' + (entrant.avatar.left_hand || "••••") + '</span><span class="transparenttext">•</span><span class="avatar avatar_eyes" value="' + (entrant.avatar.eyes.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••••') + '">' + (entrant.avatar.eyes || "•••••") + '</span><span class="transparenttext">•</span><span class="avatar avatar_right_hand transparenttext" value="' + (entrant.avatar.right_hand.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••••') + '">' + (entrant.avatar.right_hand || "••••") + '</span>\n\
<span class="transparenttext leftDot">•</span><span class="avatar avatar_left_wrist" value="' + (entrant.avatar.left_wrist.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••••') + '">' + (entrant.avatar.left_wrist || "••••") + '</span><span class="transparenttext">•</span><span class="avatar avatar_mouth" value="' + (entrant.avatar.mouth.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••••') + '">' + (entrant.avatar.mouth || "•••••") + '</span><span class="transparenttext">•</span><span class="avatar avatar_right_wrist transparenttext" value="' + (entrant.avatar.right_wrist.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••') + '">' + (entrant.avatar.right_wrist || "••") + '</span>\n\
<span class="transparenttext leftDot">•</span><span class="transparenttext">••</span><span class="avatar avatar_left_shoulder_up">\\</span><span class="avatar avatar_left_shoulder_down" style="display: none">/</span><span class="avatar avatar_left_arm" value="' + (entrant.avatar.left_arm.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••') + '">' + (entrant.avatar.left_arm || "••") + '</span><span class="avatar avatar_torso_1" value="' + (entrant.avatar.torso_1.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••••') + '">' + (entrant.avatar.torso_1 || "•••••") + '</span><span class="avatar avatar_right_arm" value="' + (entrant.avatar.right_arm.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••') + '">' + (entrant.avatar.right_arm || "••") + '</span><span class="avatar avatar_right_shoulder_up" style="display: none">/</span><span class="avatar avatar_right_shoulder_down">\\</span><span class="transparenttext">••</span>\n\
<span class="transparenttext leftDot">•</span><span class="avatar avatar_left_wrist transparenttext" value="' + (entrant.avatar.left_wrist.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••••') + '">' + (entrant.avatar.left_wrist || "••••") + '</span><span class="transparenttext">•</span><span class="avatar avatar_torso_2" value="' + (entrant.avatar.torso_2.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••••') + '">' + (entrant.avatar.torso_2 || "•••••") + '</span><span class="transparenttext">•</span><span class="avatar avatar_right_wrist" value="' + (entrant.avatar.right_wrist.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••') + '">' + (entrant.avatar.right_wrist || "••") + '</span>\n\
<span class="transparenttext leftDot">•</span><span class="avatar avatar_left_hand transparenttext" value="' + (entrant.avatar.left_hand.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••••') + '">' + (entrant.avatar.left_hand || "••••") + '</span><span class="transparenttext">•</span><span class="avatar avatar_torso_3" value="' + (entrant.avatar.torso_3.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••••') + '">' + (entrant.avatar.torso_3 || "•••••") + '</span><span class="transparenttext">•</span><span class="avatar avatar_right_hand" value="' + (entrant.avatar.right_hand.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '••••') + '">' + (entrant.avatar.right_hand || "••••") + '</span>\n\
<span class="transparenttext leftDot">•</span><span class="transparenttext">••••</span><span class="avatar avatar_legs" value="' + (entrant.avatar.legs.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••••••') + '">' + (entrant.avatar.legs || "•••••••") + '</span><span class="transparenttext">••••</span>\n\
<span class="transparenttext leftDot">•</span><span class="transparenttext">••••</span><span class="avatar avatar_left_foot" value="' + (entrant.avatar.left_foot.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••') + '">' + (entrant.avatar.left_foot || "•••") + '</span><span class="transparenttext">•</span><span class="avatar avatar_right_foot" value="' + (entrant.avatar.right_foot.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;") || '•••') + '">' + (entrant.avatar.right_foot || "•••") + '</span><span class="transparenttext">••••</span>\n\
 <a class="bluetext" href="../../../../robots/' + entrant.id + '" target="_blank">' + entrant.name + '</a></pre>\
									</div>');
								}

								if ((session.human !== null) && (data.entrants[entrants[0]].human.id === session.human.id)) {
									string.replace("section opponent", "section self"); //replaces only the first one
								}
								else {
									string;
								}
							}
						%>
					</div>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">]</span></div>
				<div class="megasection" id="players_outer" <% if (data.state.start !== null) {"style='display: none';"} %>>
					<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
					<div class="bracketer_top"><span class="whitetext">.players</span><span class="redtext"> = </span><span class="whitetext">[</span></div>
					<div class="section indented whitetext" id="players" value="<% data.humans %>">
						<% 
							var string = "";
							for (var i = 0; i < data.humans.length; i++) {
								var entrant = data.entrants[Object.keys(data.entrants).find(function(j) { return (data.entrants[j].human.id === data.humans[i])})];
								if ((typeof entrant !== "undefined") && (entrant !== "undefined") && (entrant !== null)) {
									string += "<a class='bluetext' target='_blank' href='../../../../humans/" + entrant.human.name + "'>" + entrant.human.name + "</a>, ";
								}
								else {
									string += "<span class='yellowtext'>???</span>, ";
								}
							}

							string.substring(0, string.length - 2);
						%>
					</div>
					<div class="bracketer_bottom"><span class="whitetext">]</span></div>
				</div>
				<div class="megasection" id="cubes_outer" <% if ((data.state.start === null) || ((data.state.end !== null) && (data.state.end < timeNow)) || ((data.state.pauseFrom !== null) && (data.state.pauseTo !== null) && (data.state.pauseFrom < timeNow) && (data.state.pauseTo > timeNow))) {"style='display: none';"} %>>
					<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
					<div class="bracketer_top"><span class="whitetext">.cubes</span><span class="redtext"> = </span><span class="whitetext">[</span></div>
					<div class="section indented whitetext" id="cubes">
						<% 
							if ((data.state.start !== null) && ((data.state.end === null) || (data.state.end > timeNow)) && (data.rounds.length > 0)) {
								var currentRound = data.rounds[data.rounds.length - 1];
								var string = "";

								for (var i = 0; i < currentRound.cubes.length; i++) {
									string += "<div class='cube_outer " + currentRound.cubes[i] + "back'><div class='cube_inner whitetext'>" + currentRound.cubes[i] + "</div></div>";
								}

								string;
							}
						%>
					</div>
					<div class="bracketer_bottom"><span class="whitetext">]</span></div>
				</div>
				<div class="megasection" id="workshop_outer" <% if ((data.state.start === null) || ((data.state.end !== null) && (data.state.end < timeNow)) || (data.state.pauseFrom === null) || (data.state.pauseTo === null) || (timeNow < data.state.pauseFrom) || (timeNow > data.state.pauseTo)) {"style='display: none';"} %>>
					<span class="glyphicon glyphicon-chevron-down section-toggle section-toggle-down whitetext"></span>
					<div class="bracketer_top"><span class="whitetext">.workshop</span><span class="redtext"> = </span><span class="whitetext">{</span></div>
					<div class="section" id="workshop" value="<% if ((session.human !== null) && (data.humans.indexOf(session.human.id) > -1) && (Object.keys(data.entrants).length > 0)) { (Object.keys(data.entrants).find(function(entrant) { return (data.entrants[entrant].human.id === session.human.id)}) || null) } %>">
						<% 
							if ((session.human !== null) && (data.humans.indexOf(session.human.id) > -1) && (Object.keys(data.entrants).length > 0) && ((data.state.end === null) || (data.state.end > timeNow))) {
								var entrant = data.entrants[Object.keys(data.entrants).find(function(i) { return (data.entrants[i].human.id === session.human.id); })] || null;
								if ((typeof entrant !== "undefined") && (entrant !== "undefined") && (entrant !== null)) {
									'<div class="section indented">\
										<form id="save_form" method="post" action="javascript:;" onsubmit="window.robot_save();">\
											<button id="robot_save"><span class="greentext">save</span><span class="whitetext">: </span><span class="bluetext">function</span><span class="whitetext">();</span></button>\
										</form>\
									</div> <span class="message graytext"></span>\
									<div class="section indented">\
										<span class="greentext">code</span><span class="whitetext">: </span><span class="bluetext">function</span><span class="whitetext">(</span><span class="field_frame active"><span class="orangetext field" contenteditable="true" id="inputs" value=' + (String(entrant.inputs.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;")).replace(/\</g, "&lt;").replace(/\>/g, "&gt;") || null) + '>' + String(entrant.inputs) + '</span></span><span class="whitetext">) {</span> <span class="message graytext"></span>\
										<div class="indented">\
											<div class="field_frame active">\
												<span class="whitetext field" contenteditable="true" id="code" value=' + (String(entrant.code.replace(/\"/g, "&#34;").replace(/\'/g, "&#39;").replace(/\</g, "&lt;").replace(/\>/g, "&gt;")) || null) + '>' + String(entrant.code) + '</span>\
											</div>\
										</div>\
										<span class="whitetext">}</span>\
									</div>';
								}
							}
							else {
								'<div class="indented">\
									<span class="graytext spectatorMessage">//the arena is not in play</span>\
								</div>';
							}
						%>
					</div>
					<div class="bracketer_bottom"><span class="whitetext">}</span></div>
				</div>
				<span class="glyphicon glyphicon-chevron-up section-toggle section-toggle-up whitetext"></span>
				<div class="bracketer_top"><span class="whitetext">.rules</span><span class="redtext"> = </span><span class="whitetext">{</span></div>
				<div class="megasection indented" id="rules" style="display: none;">
					<div class="section" id="rules_players">
						<span class="whitetext">players: {</span>
						<div class="indented">
							<span class="whitetext">minimum: </span><span class="purpletext"><% String(data.rules.players.minimum) || "null" %></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how many humans must this arena contain at least?</span></summary></details></span><br>
							<span class="whitetext">maximum: </span><span class="purpletext"><% String(data.rules.players.maximum) || "null" %></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how many humans can this arena contain at most?</span></summary></details></span><br>
							<span class="whitetext">pauseDuration: </span><span class="purpletext"><% ((data.rules.players.pauseDuration / 1000 / 60) + ":00") || "null" %></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>when the arena pauses, how long does the code workshop last?</span></summary></details></span><br>
							<span class="whitetext">pausePeriod: </span><span class="purpletext"><% String(data.rules.players.pausePeriod) || "null" %></span><span class="graytext"> // <details class="graytext"><summary><span>how many rounds occur between each code workshop pause?</span></summary></details></span>
						</div>
						<span class="whitetext">},</span>
					</div>
					<div class="section" id="rules_cubes">
						<span class="whitetext">cubes: {</span>
						<div class="indented">
							<span class="whitetext">colors: [</span><span class="whitetext"><% 
								try {
									var string = "";
									for (var i = 0; i < data.rules.cubes.colors.length; i++) {
										string += ("<span class='" + data.rules.cubes.colors[i] + "text'>" + data.rules.cubes.colors[i] + "</span>, ");
									}
									string.substring(0, string.length - 2);
								}
								catch (error) {
									"null";
								}
							%></span><span class="whitetext">],</span><span class="graytext"> // <details class="graytext"><summary><span>which cube colors does this arena include?</span></summary></details></span><br>
							<span class="whitetext">startCount: </span><span class="purpletext"><% String(data.rules.cubes.startCount) || "null" %></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how many cubes does each robot start with?</span></summary></details></span><br>
							<span class="whitetext">maximum: </span><span class="purpletext"><% String(data.rules.cubes.maximum) || "null" %></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how many cubes can a robot hold?</span></summary></details></span><br>
							<span class="whitetext">spawnRate: </span><span class="purpletext"><% String(data.rules.cubes.spawnRate) || "null" %></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how many cubes are generated each round?</span></summary></details></span><br>
							<span class="whitetext">spawnMemory: </span><span class="purpletext"><% String(data.rules.cubes.spawnMemory) || "null" %></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>when a cube spawns, how many rounds must pass until a cube of the same color can spawn?</span></summary></details></span><br>
							<span class="whitetext">dissolveRate: </span><span class="purpletext"><% String(data.rules.cubes.dissolveRate) || "null" %></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how many untaken cubes are destroyed each round?</span></summary></details></span><br>
							<span class="whitetext">dissolveIndex: </span><span class="yellowtext">"<% data.rules.cubes.dissolveIndex || "null" %>"</span><span class="graytext"> // <details class="graytext"><summary><span>which cubes are destroyed each round?</span></summary></details></span>
						</div>
						<span class="whitetext">},</span>
					</div>
					<div class="section" id="rules_robots">
						<span class="whitetext">robots: {</span>
						<div class="indented">
							<span class="whitetext">startPower: </span><span class="purpletext"><% String(data.rules.robots.startPower) || "null" %></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how much power does each robot enter the arena with?</span></summary></details></span><br>
							<span class="whitetext">maxPower: </span><span class="purpletext"><% String(data.rules.robots.maxPower) || "null" %></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>how much power can a robot hold?</span></summary></details></span><br>
							<span class="whitetext">powerRate: </span><span class="purpletext"><% String(data.rules.robots.powerRate) || "null" %></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>when a robot powers, how much does its power increase?</span></summary></details></span><br>
							<span class="whitetext">actions: [</span><span class="whitetext"><% 
								try {
									var string = "";
									for (var i = 0; i < data.rules.robots.actions.length; i++) {
										string += ("<span class='greentext'>" + data.rules.robots.actions[i] + "</span>(), ");
									}
									string.substring(0, string.length - 2);
								}
								catch (error) {
									"null";
								}
							%></span><span class="whitetext">],</span><span class="graytext"> // <details class="graytext"><summary><span>which actions are available to robots in this arena?</span></summary><li>power: increment its power number</li><li>take: the taker with the most power wins the round's cubes</li><li>sleep: do nothing; this is the default for code errors or taking without power</li><li>sap: steal power from charging opponents with greater power</li><li>burn: convert a random cube into power</li><li>shock: put opponents with more total cubes to sleep</li><li>halftake: use half power, rounding up, to take cubes</li><li>swaptake: use half power to take cubes and return the same number of cubes, randomly</li><li>fliptake: take the cubes but invert the colors</li></details></span><br>
							<span class="whitetext">tieBreaker: </span><span class="yellowtext">"<% data.rules.robots.tieBreaker || "null" %>"</span><span class="graytext"> // <details class="graytext"><summary><span>when multiple takers have the same power, where do the cubes go?</span></summary><li>leave: the cubes stay in the arena</li><li>dissolve: the cubes are destroyed</li><li>cascade: the cubes go to the next-most-powered robot</li><li>catchup: the cubes go to the robot with the least cubes</li><li>random: the cubes go to a random robot</li></details></span>
						</div>
						<span class="whitetext">},</span>
					</div>
					<div class="section" id="rules_victory">
						<span class="whitetext">victory: {</span>
						<div class="indented">
							<span class="whitetext">conditions: [</span><span class="whitetext"><% 
								try {
									var string = "";
									for (var i = 0; i < data.rules.victory.conditions.length; i++) {
										string += ("<span class='yellowtext'>\"" + data.rules.victory.conditions[i] + "\"</span>, ");
									}
									string.substring(0, string.length - 2);
								}
								catch (error) {
									"null";
								}
							%></span><span class="whitetext">],</span><span class="graytext"> // <details class="graytext"><summary><span>which cube combinations result in victory?</span></summary><li>1of6: 1 cube of each of the 6 colors</li><li>2of3: 2 cubes of each primary (red, yellow, blue) or secondary (orange, green, purple) color</li><li>3of2: 3 of each of two complimentary colors (red/green, orange/blue, yellow/purple)</li><li>6of1: 6 cubes of 1 color</li></details></span><br>
							<span class="whitetext">multiplier: </span><span class="purpletext"><% String(data.rules.victory.multiplier) || "null" %></span><span class="whitetext">,</span><span class="graytext"> // <details class="graytext"><summary><span>by how much are the cube counts necessary for victory multiplied?</span></summary></details></span><br>
							<span class="whitetext">tieBreaker: </span><span class="yellowtext">"<% data.rules.victory.tieBreaker || "null" %>"</span><span class="graytext"> // <details class="graytext"><summary><span>if multiple robots meet the victory conditions, which robot is the winner?</span></summary><li>tie: each of these robots wins</li><li>greedy: the robot with the most cubes wins</li><li>efficient: the robot with the least cubes wins</li><li>random: a random one of these robots wins</li></details></span>
						</div>
						<span class="whitetext">}</span>
					</div>
				</div>
				<div class="bracketer_bottom"><span class="whitetext">}</span></div>
				<% 
					if ((session.human !== null) && (data.humans.indexOf(session.human.id) > -1) && (data.state.start !== null) && (data.state.end === null)) {
							var string = '<div class="megasection">';

						if ((data.humans[0] === session.human.id) && (data.state.end === null)) {
							string += '<form id="delete_form" method="post" action="javascript:;" onsubmit="window.delete_arena();">\
								<span class="whitetext">.</span><button id="delete_arena" name="action" value="delete_arena"><span class="greentext">delete</span></button><span class="whitetext">();</span>\
							</form>';
						}

						string += '<form id="leave_form" method="post" action="javascript:;" onsubmit="window.leave_arena();">\
							<span class="whitetext">.</span><button id="leave_arena" name="action" value="leave_arena"><span class="greentext">leave</span></button><span class="whitetext">();</span>\
						</form>';

						string += '</div>';

						string;
					}
				%>
				</div>
			</div>
		</div>
	</body>
</html>