/* * arenas * */
	.container {
		border-color: var(--red);
	}

	.top_inner {
		border-color: var(--red);
	}

	/* game */
		.spectatorMessage {
			font-size: 32px;
		}

		.count {
			float: right;
		}

		#cube_spacer {
			display: inline-block;
			vertical-align: bottom;
			height: 90px;
			width: 0px;
		}

		#rules {
			line-height: 1;
		}
